@charset "utf-8";

@import url(fonts.css);

/* content */
#content{margin-top:85px;  -webkit-overflow-scrolling:touch;}  /*2018-04-06 ios position:fixed 오류*/
h3 {color:#000;font-size:16px; line-height: 16px;}
/*.menu{padding:0 34px;}*/

.display_bnr {position: relative; marginti}
.display_bnr :after{clear: both; display: block; content: "";}
.bnr_W{overflow:hidden;}
.bnr_W li {float:left; width:100%;}
.bnr_W:after{display: block; clear: both; content: "";}
.bnr_W2{overflow:hidden; width:100% !important;height: 182px;}
.bnr_W2 li {float:left; width:100%;}
.bnr_W2:after{display: block; clear: both; content: "";}
.h_page {position:absolute; bottom:0; right:0; background: rgba(0,0,0,0.4); padding:5px 10px; border-radius: 15px 0 0 15px;} /*2018-07-20 수정*/
.bnr_all {display:inline-block; font-size:13px; margin-right:0.3rem; width:13px; height:13px; vertical-align: baseline; text-indent: -999999px; background: url(../images/main/btn_allbnr.png) no-repeat center; background-size: 9px; line-height: 13px;}
.page {display:inline-block; font-family: 'Roboto'; font-size:13px; color:#fff;}
.page span {display:inline-block; font-size: 11px;}

/* onAir */
.broadcast{position:relative;overflow:hidden;background:#fff;}
.broadcast > .onAirInner{z-index:2; position: relative;}
.broadcast .time{position: absolute; top:15px; left:15px; background:rgba(0,0,0,0.5); line-height:25px; height:28px; border-radius:20px;  color:#fff; z-index: 3;}
.broadcast .time strong {display:inline-block;font-size:12px; padding:2px 12px 0;/* line-height:30px;*/ height:28px;  border-radius:20px; vertical-align: middle; margin:0;}
.broadcast .time strong:first-child { background: #ed2024; margin:0; margin-right:-4px; padding:2px 16px 0; display:inline-block;font-size:12px; height:28px;  border-radius:20px; vertical-align:}
_::-webkit-:not(:root:root), .broadcast .time strong {padding:1px 12px 0;}
.broadcast .btn {/*position: absolute;bottom:12px; right:20px;*/float:right;padding: 12px 20px 12px 0;}
.broadcast .btn a {display:block;  width:80px; height: 31px; line-height:28px; font-size:12px; text-align: center;}
.broadcast .btn a:first-child {margin-bottom:3px; height:36px; line-height:35px; color: #fff; background: #ed2024; border:1px solid #ed2024;}
.broadcast .btn a.bgGray { background: #565a5c; border:1px solid #565a5c;}
.broadcast .btn a:nth-child(2) {background: #fff; border:1px solid #ccc; }
.broadcast .btn a.broadSchedule {background: #fff; border:1px solid #ccc; color: #000;}
.broadcast .txt {float:left;min-height:69px; width: calc(100% - 110px); padding:15px;}
.broadcast .txt .tit {font-size:15px; color:#000; margin-bottom:7px;}
.broadcast .txt .price .won strong {font-size:17px;}
.broadcast .vod {position:relative; width:100%; /*height:210px;*/ height:100%; overflow:hidden;} /*2018-07-31 수정*/
.broadcast .vod .play {position:absolute; top:0; left:0; width:100%; height:100%; text-indent: -999999px; background: url(../images/cm/btn/btn_Mvod.png) no-repeat center; background-size:35px auto;}

/* 2017-06-01 TV쇼핑 수정 - start */
.broadcast .btn {padding: 12px 10px 12px 0;}
.broadcast .txt {width: calc(100% - 100px); padding: 12px 10px;}
.broadcast .txt .tit {margin-bottom: 4px;}

/* 신규 (최상단 영상 바로아래 배너롤링 영역) */
.newBannerBox {overflow:hidden; position:relative; /*margin-top:8px;*/ background:#e9ecef;} /*2018-04-10 수정*/
#newTvBanner01 {margin-bottom:8px; border-top:1px solid #e1e4e7; border-bottom:1px solid #e1e4e7;} /*2018-04-04 수정*/
#newTvBanner01 .slick-dots {bottom:-12px; line-height:8px;}
#newTvBanner01 .slick-dots li {width:8px; height:8px; margin:0 2px; vertical-align:top;}
#newTvBanner01 .slick-dots li button {width:8px; height:8px; padding:0;}
#newTvBanner01 .slick-dots li button:before {content:""; width:8px; height:8px; opacity:1; border-radius:50%; background:#b3b3b3;}
#newTvBanner01 .slick-dots li.active button:before {background:#7f7f7f;}

#newTvBanner01 {height:15.9vw; box-sizing:content-box; margin-top:8px;} /*2018-04-04 수정*/
/*슬릭 적용 전 펼쳐지는 현상 방지 vw는 가로기준 세로 비율 [배너높이/디바이스가로]*/

.timeline {overflow:hidden;}
#go__schedule {overflow:hidden; margin-top:8px;}
#go__schedule .recentOnair {margin-top:0;}
/* 2017-06-01 TV쇼핑 수정 - end */

@media (min-width:641px) {
	.onAirInner {max-width:414px; margin:0 auto;}
	.mainTv_tit {padding: 14px 15px; color:#353535; font-size:16px; font-weight:bold; display: inline-block; width: 100%; max-width:414px;} /*2018-08-27 추가*/
}

/* /onAir */

/* S:ban */
.ban{margin-top: 8px; position: relative;}
.ban a{display:block;}
.ban .btnLeft{ width:22px; height: 30px; position: absolute; left: 0; top: 50%; margin-top: -15px; background: url(../images/cm/btn/btn_arrow.png); background-position: left; background-size: 200%;}
.ban .btnRight{ width:22px; height: 30px; position: absolute; right: 0; top: 50%; margin-top: -15px; background: url(../images/cm/btn/btn_arrow.png); background-position: right; background-size: 200%;}
/* E:ban */

/* S:chance */
.chance{ margin-top: 8px;}
.chance:after{display: block; clear: both; content: "";}
.chance h3 {background: #fff; padding:15px;}
.chance .product{margin-top: 0px;}
.chance .product li{ background: #fff;margin-bottom: 5px;border-bottom: solid 1px #e1e4e7; }
.chance .product li a{display:block;}
.chance .product li .img{ width: 100%; position: relative;min-height:160px;background:url(../images/cm/bg_prod_empty.png) no-repeat center center;background-size:100% auto;}
.chance .product li .img .play{ width: 20px; height: 20px; position: absolute; bottom: 0; left: 0; background: url(../images/cm/btn/btn_play.png); border: solid 1px rgba(255,255,255,0.5); background-size: 100%;}
.chance .product li .img .ico{ position: absolute; bottom: 10px; right: 10px;}
.chance .product li .txt{position: relative; width: 100%; padding:16px 18px 13px; height: 72px;}
.chance .product li .txt > .tit {color:#000; font-size:15px; margin-bottom:8px; line-height: 120%; vertical-align: bottom}
.chance .product li .txt .price:after{ display: block; clear: both; content: "";}
.chance .product li .txt .price p {}
.chance .product li .txt .price .won {height:21px;}
.chance .product li .txt .price .won span:nth-child(2) {font-size:17px;}
.chance .product li .txt .price .won span {color:#000; }
.chance .product li .txt .price .won .tit {display:inline-block; color:#e30613; font-size:14px; font-weight:400; padding-right:7px;}
.chance .product li .txt .price .won .fs14 {display:inline-block; font-size:16px; padding-left:2px;height:24px; padding-bottom:10px;}
.chance .product li .txt .price .etc {position:absolute; bottom: 15px; right: 15px;font-size:10px;}
.chance .product li .txt .price .etc span {display: inline-block; margin-left:7px; color:#565a5c;}
.chance .product li .txt .price .etc span:first-child {margin-left:0px;}
.chance .product li .txt .price .num {font-size:17px; font-weight: 700; color:#000;}
.chance .product li .txt .price .etc span.mcoupon {color:#5674b9; width:80px; font-size:10px; text-align:right;background:none; background: none;}
.ccProBf{ position: absolute; right: 15px; bottom: 15px; font-size: 10px;}
.ccProBf span{margin-left: 10px;}
.ccProBf span.mcoupon {color:#5674b9;}
/* E:chance */

/* S:customArea1 */
.customArea1{position:relative; height:auto; padding:21px 15px 15px; margin: 8px auto 0; color:#000;}
.customArea1:after{display: block; clear: both; content: "";}
.customArea1 h3{margin-bottom:21px;}
.customArea1 .stat{position: absolute; top:-28px; right:0;}
.customArea1 .stat li{width: 8px; height: 8px; float: left; text-indent: -99999px; font-size:0; margin-right: 5px; background: url(../images/cm/icon/ico_stat.png); background-position: top; background-size: 100%;}
.customArea1 .stat li.active{ background-position: bottom;}
.customArea1 .stat li:last-child{margin-right: 0;}
.customArea1 > div {width:100%; height:auto; margin:0 auto;} 
.csSlide {/*width:1000%; height:560px;*/} 
.customArea1 .product{float:left; margin:0px auto; width:100%; height:auto;}
.customArea1 .product li{ float: left;  padding: 10px 10px 15px; margin:1px; width: 50%; height:auto; background: #fff; text-align: center;border:none !important;}
.customArea1 .product li a{display:block;}
.customArea1 .product li:nth-child(1) {margin:1px 1px 0px 0px;}
.customArea1 .product li:nth-child(2n) {margin:1px -1px 1px 0px;}
.customArea1 .product li:nth-child(3n) {margin:0px 1px 0px 0px;}
.customArea1 .product li:nth-child(4n) {margin:0px -1px 0px 0px;}
.customArea1 .product li .img{display:block; position: relative; margin-bottom:8px;}
.customArea1 .product li .img .play{ width: 18px; height: 18px; position: absolute; bottom: 0; left: 0; background: url(../images/cm/btn/btn_play.png); border: solid 1px rgba(255,255,255,0.5); background-size: 200%;}
.customArea1 .product li .img .ico{ position: absolute; bottom: 0; right: 0;}
.customArea1 .product li .won {display:block; font-size:17px; margin-top:12px; vertical-align: bottom; color:#000;}
.customArea1 .product li .won .num {font-weight: 700;padding-right:2px; font-size:17px;}
.customArea1 .product li .tit{position: relative; line-height: 15.6px; font-size:13px; height:28px;display:block; display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}

.customArea1 .product li .tit > strong {font-weight: normal !important;}
.customArea1 .product li .won:after{ display: block; clear: both; content: "";}

/* E:customArea1 */

/* S:customArea2 */
.customArea2{width:100%; /* height:335px; */overflow:hidden; padding-bottom:15px; margin-top: 8px; min-height: 363px; position: relative; padding-top: 42%;background-size:100% 100% !important;}
.txtTopWrap {padding:25px 25px 18px 25px;}
.customArea2 .label{text-align: left; margin-bottom:10px;}
.customArea2 h3{text-align: left; line-height:18px; font-weight: 400;}
.customArea2 .subtxt {line-height:14px; font-weight: 700;}
.customArea2 .customArea2Slide .slide {/*width:450px;position:absolute;*/width:1000%;}
.customArea2 .customArea2Slide .slide:after{display: block; clear: both; content: "";}
.customArea2 .customArea2Slide .slide ul:after { display: block; clear: both; content: "";}
.customArea2 .customArea2Slide .slide:after {display: block; clear: both; content: "";}
.customArea2 .customArea2Slide .slide li{float:left; width:135px; /*height:auto;*/ padding:5px 5px 10px 5px; background: #fff; border-radius: 4px; position: relative; margin-right: 0px; margin-left:8px;}
.customArea2 .customArea2Slide .slide li > a{display:block;}
.customArea2 .customArea2Slide .slide li:after{display: block; clear: both; content: "";}
.customArea2 .customArea2Slide .slide li:first-child {margin-left:23px;} 
.customArea2 .customArea2Slide .slide li .tit {display:block;width:100%; font-size:12px; line-height: 12px; padding:10px 6px 4px;}
.customArea2 .customArea2Slide .slide li .img{ position: relative;display:block;}
.customArea2 .customArea2Slide .slide li .won {display:block; width:100%; padding:0px 6px; /* height:24px;*/}
.customArea2 .customArea2Slide .slide li .won .num {font-size:15px; line-height: :15px;font-weight: 700; padding-right:2px;}
.customArea2 .customArea2Slide .slide li .img > img{min-width:125px;}
.customArea2 .customArea2Slide .slide li .img .play{ width: 18px; height: 18px; position: absolute; bottom: 0; left: 0; background: url(../images/cm/btn/btn_play.png); border: solid 1px rgba(255,255,255,0.5); background-size: 200%;}
.customArea2 .customArea2Slide .slide li .img .ico{ position: absolute; bottom: 0; right: 0;}
.customArea2 .customArea2Slide .slide li .txt{text-align: center;}

.customArea2MoreBtn{width: 100%; height: 135px; display: block; position: absolute; top: 0; left: 0;}

/* E:customArea2 */

/* S:tv */
.tv{position:relative; padding:0 8px 8px; background: #fff;}
.tv h3 {padding:15px 15px 15px 8px;}
.tv li{width:100%; overflow:hidden; margin-bottom:5px;min-height:187px;}
.tv li a {position: relative;display: block; width:100%; height:100%; }
.tv li span.img {position: relative; display: block; width:100%; height:100%; }
.tv li span.img:after {content:''; display: block; width:100%; height:100%; position:absolute; top:0; left:0; background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)); /* Standard syntax */}
.tv li span.ico {position: absolute; left:20px; top:15px; text-indent: -9999px; width:50px; height: 26.5px; background: url(../images/cm/icon/ico_tvit.png) no-repeat 0 0; background-size:50px auto;}
.tv li a span.tit {position: absolute; left:20px; bottom:32px; width:70%; color:#fff; font-weight: 700; font-size:16px; line-height: 18px }
.tv li a span.txt {position: absolute; left:20px; bottom:14px; width:80%;color:#fff; font-size:12px; }
.tv li a span.play {position: absolute; right:15px; bottom:15px; width:30px; height:30px; text-indent: -9999px; background: url(../images/cm/btn/btn_play03.png) no-repeat; background-size:100%;}
.tv .btn{width: 47px; height: 35px; float: left; margin-right:10px; background: url(../images/cm/btn/btn_play2.png); background-size: 100%;}
.tv .btnMore {position:absolute; top:18px; right:15px; padding-left:12px; font-size:12px; background:url(../images/main/btn_brandmore.png) no-repeat left 2px; background-size: 9px;}
/* E:tv */

/* S:recom */
.recom{margin-top:8px;padding: 0 3px 0 0px; background: #fff;}
.recom h3 {padding:21px 15px 19px; }
.recom .horizon { width:100% !important;overflow: hidden;}
.recom .horizon ul {width:1000%;height:212px;overflow:hidden;transition:transform 0s ease-out;}
.recom .horizon li{position:relative; float:left; width: 130px; height:202px; margin-right:5px;}
.recom .horizon li > a{display:block;}
.recom .horizon li:first-child {margin-left:15px;} 
.recom .horizon li:last-child {margin-right:0px;}
.recom .horizon li .img{position: relative;display: block; width:130px; height:130px; margin-bottom:8px;}
.recom .horizon li .img:after{content:''; display: block; width:100%; height:100%; }
.recom .horizon li .play{ width:30px; height: 30px; position: absolute; bottom:5px; left: 5px; text-indent:-9999px; background: url(../images/cm/btn/btn_play3.png); background-size:100%;}
.recom .horizon li .img .ico{ position: absolute; bottom: 5px; right: 5px; /*padding-left: 9px; padding-right: 9px;padding-top: 8px; padding-bottom: 12px; */ background:rgba(236,36,38,0.8);/* border:1px solid #e21f26;*/ font-family: 'roboto' ; font-size:10px; font-weight: 700; color:#fff;}
.recom .horizon li .img .ico.ing{padding-left:0;padding-right:0;text-align:center;}
.recom .horizon li .tit {color:#000; line-height: 16px; font-size:13px; display:block; display:-webkit-box !important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis; height:32px;} /* ?ì¤???ìŠ¤??ì¤?��?��???¤ì ??*/ /*2018-07-12 수정*/
.recom .horizon li .txt{text-align: center;}
.recom .horizon li .won {display:block; font-size:17px; line-height:17px;margin-top:9px;color:#000;}
.recom .horizon li .won .num {font-weight: 700; padding-right:2px;}
/* E:recom */


/* S:exhibition */
.exhibition{background: #fff; margin-top: 8px; padding:0 15px 2px;}
.mexhibi {padding:15px 15px 2px; margin-bottom:-5px;}
.exhibition:after{display: block; clear: both; content: "";}
.exhibition h3 {padding:15px 0px;}
.exhibition .product{margin-top: 0px;}
.exhibition .product li{ margin-bottom: 5px; text-align: center}
.exhibition .product li > a{display:block;}
.exhibition .product li .img{ width: 100%; min-height:200px;max-height:240px; overflow:hidden; position: relative;}
.exhibition .product li .img > img{position:relative;margin-top:-35px;}
.exhibition.mexhibi .product li .img > img{/*margin-top:0px;*/}
.exhibition .product li .img .ico{  /*width:85px;max-width: 300px;*/ height: 35px; color:#fff; font-size:13px; font-weight: 700; padding:10px 15px 10px 10px; background:url(../images/cm/bg/bg_mflag.png) no-repeat right top; background-size: auto 35px; }
.exhibition .product li .img .ico.ellipsis{ position: absolute;top: 0; left: 0; bottom:inherit;right:inherit;text-align:left; width:auto !important; max-width: 300px;line-height: 120% !important;}
.exhibition .product li .txt{position: relative; width: 100%; padding:15px 0; font-size:16px;}
.exhibition .product li .txt > .tit {color:#000; margin-bottom:4px;font-size:16px; /* line-height: 16px; */ font-weight: 700;}
.exhibition .product li .txt .subtxt {color:#000; font-size:12px;}
/* E:exhibition */


/* S:brand */
.brand{position:relative; margin-top:8px;padding: 0px 0px 10px;}
.brand h3 {padding:20px 15px;}
.brand .horizon {position:relative;/*width:1030px;*/height:130px;overflow:hidden;}
.brand .horizon ul {/*width:1000%;*/}
.brand .horizon li{float:left; position: relative; margin:0 5px; padding:10px; background: #fff; border-radius: 5px;}
.brand .horizon li:first-child {/*margin-left:15px;*/} 
.brand .horizon li:last-child {/*margin-right:0px;*/}
.brand .horizon li a {float:left; display:block;}
/* .brand .horizon li a:after {display:block; content: ''; visibility: hidden;clear: both;} */
.brand .horizon li .img{ display: block;  position: relative; float:left; width:100px;}
.brand .horizon li .img:after{content:''; display: block; width:100%; /*height:100%;*/ }
.brand .horizon li .play{ width:30px; height: 30px; position: absolute; bottom:15px; left: 12px; text-indent:-9999px; background: url(../images/cm/btn/btn_play3.png); background-size:100%;}
.brand .horizon li .img .ico{position: absolute; bottom: 5px; right: 5px; padding:10px 9px;background:rgba(236,36,38,0.8);/* border:1px solid #e21f26;*/ font-family: 'roboto' ; height:30px; font-size:10px; line-height: 10px; font-weight: 700;color:#fff;}
.brand .horizon li .txt{float:left; margin-left:15px;min-width:150px;max-width:180px; text-align: left;}
.brand .horizon li .txt .tit a{color:#000;width:100%; margin-top:5px; margin-bottom:8px; font-size:13px; line-height: 15px; height:30px; max-height:30px; display:block; display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis} /* ?ì¤???ìŠ¤??ì¤?��?��???¤ì ??*/}
.brand .horizon li .won {margin-top:5px; width:100%; height:30px; vertical-align: middle;}
.brand .horizon li .won:after {display:block; content: ''; visibility: hidden;clear: both;}
.brand .horizon li .txt .won span {display:block;}
.brand .horizon li .txt .money {float:left; width:60%; height:30px;margin-top:-3px; vertical-align: middle;}
.brand .horizon li .txt .money span {display:inline-block; font-size:17px;line-height: 17px;}
.brand .horizon li .txt .benefit {display: block; margin-top:5px; font-size:10px;color:#565a5c; letter-spacing:0px}
.brand .horizon li .txt .benefit .mcoupon {display:inline;color:#5674b9;width:auto; font-size:10px;height:18px;background:none;}
.brand .horizon li .txt .sale {float:left; line-height:30px; padding-top:0; height:30px; margin-right:10px; font-size:33px; color:#e30613;}
.brand .horizon li .won .sale em {font-size:14px; padding-left:2px;}
.brand .horizon li .won .del {display:block; width:100%; color:rgba(0,0,0,0.5);}
.brand .horizon li .won .del .num { font-size:12px !important; line-height: 12px;}
.brand .horizon li .won .del em {font-size:10px; padding-left:0px; line-height: 10px;}
.brand .horizon li .won .price {display:block; font-size:17px; line-height: 17px; font-weight:700;margin-top:0px;color:#000;padding-right:2px;}
.brand .btnMore {position:absolute; top:22px; right:15px; padding-left:12px; font-size:12px; background:url(../images/main/btn_brandmore.png) no-repeat left 3px; background-size: 9px;}

@media (min-width:321px) and (max-width:413px) {
	.brand .horizon li .img{ }
	.brand .horizon li .txt{/*width:50%;*/ }
	.brand .horizon li .txt .sale {letter-spacing: -1px;}
}
@media (max-width:320px){
	.brand .horizon li .txt{width:150px;}
	.brand .horizon li .txt .sale {margin-right:5px;}
}
/* E:brand */

/* S:best */
.best{position:relative; /*margin-top:10px;*/ padding: 0px 8px 10px;}
.best h3 {padding:20px 0px 15px;}
.best .product {width:100%; overflow: hidden;}
.best .product ul {width:100%;}
.best .product li{position: relative;  margin:0 0 8px 0;background: #fff; border-radius: 5px;}
.best .product li:after{content:''; display: block; clear: both; visibility: visible; }
.best .product li a {/*float:left;*/ display:block;}
.best .product li .img{position: relative; display: block;  float:left; width:135px; height: 135px; border-radius: 5px 0 0 0;}
.best .product li .img img {border-radius: 5px 0 0 0;}
.best .product li .flagLT3 img {border-radius: 0;}

.best .product li .play {width:30px; height: 30px; position: absolute; bottom: 5px; left: 2px; text-indent:-9999px; background: url(../images/cm/btn/btn_play3.png); background-size:100%;}
.img .ico{ position: absolute;width: 50px; bottom: 5px; right: 5px; padding-top:1px; background:rgba(236,36,38,0.8); font-family: 'Roboto' ; height:30px; font-size:10px; line-height: 30px;  font-weight: 700;color:#fff; text-align: center;}
.best .product li .img .ico2 {position: absolute; bottom: 5px; right: 5px; padding:10px 9px; background:rgba(103,130,192,0.8); /*border:1px solid #5674b9;*/ font-family: 'Roboto' ; height:30px; font-size:10px; line-height: 10px; font-weight: 700;color:#fff;}
.best .product li .img .sale, .best .product li .img .sold, .best .product li .img .new, .best .product li .img .hot{width: 50px; background: rgba(237,32,36, 0.7);}
.best .product li .img .ingBuy{width: 62px; background: rgba(237,32,36, 0.7);}
.best .product li .img .md { width: 50px; background: rgba(86,116,185, 0.75);}
.best .product li .img .sold{background: rgba(0,0,0, 0.5);}
.best .product li .txt{float:left; margin-left:15px; width:50%; padding:15px 0px 0 0px; text-align: left;}
.best .product li a > div { padding:0px; }
.best .product li a > div:after{content:''; display: block; clear: both;visibility: hidden;}
.best .product li .txt .tit a{ float:left;color:#000;width:100%; margin-bottom:28px; font-size:15px; line-height: 17px; height:52px; max-height:54px; display:block; display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis} /* ?ì¤???ìŠ¤??ì¤?��?��???¤ì ??*/}
.best .product li .won {/* margin-top:28px; */ width:100%; /* height:30px; */ vertical-align: middle; /* padding-top: 10px; */ border:1px solid #000;}
.best .product li .txt .won span {/*display:block;*/}
.best .product li .txt .money {float:left; width:50%; height:30px;margin-top:-3px; vertical-align: middle;}
.best .product li .txt .won span em {padding-left:2px;}
.best .product li .benefit { clear:both; display:block;  font-size:12px; border-top:1px solid #edeff1; color:#565a5c; letter-spacing: 0px; padding:10px 15px 10px 15px;}
.best .product li .benefit span {margin-right:5px;font-size:12px; }
.best .product li .benefit .mcoupon {display:inline; color:#5674b9; font-size:12px; width:auto; height:18px;margin-right:1px;background:none;  text-align: right;}
.best .product li .txt .sale {float:left; /* line-height:34px; */ padding-top:10px; /* height:30px; */  margin-right:10px; font-size:34px; color:#e30613; letter-spacing: -2px; /* vertical-align: bottom; display: table; */}
.best .product li .won .sale em {font-size:14px; padding-left: 2px;}
.best .product li .won .del {display:inline-block; margin-bottom:0px; font-size:12px; color:rgba(0,0,0,0.5);}
.best .product li .won .del em {font-size:10px;}
.best .product li .won .price {display:block; font-size:20px; font-weight:700; margin-top:0px;vertical-align: bottom; color:#000;}
.best .btnMore {position:absolute; top:22px; right:15px; padding-left:12px; font-size:12px; background:url(../images/main/btn_brandmore.png) no-repeat left 2px; background-size: 9px;}


/* E:best */
@media (min-width:321px) and (max-width:414px) {
	.best .product li .txt{width:55%; }
}
@media (max-width:320px){
	.best .product li .img{width:135px;}
	.best .product li .txt{width:153px;}
	.best .product li .txt .sale { margin-right:5px;}
}


/* S:notice */
.notice {width:100%; padding:15px 15px 14px; border-width:1px 0 1px; border-style:solid; border-color:#e1e4e7; margin-top:25px; background: #fff;}
.notice h3 {float:left; font-size:13px;width:70px;}
.notice:after{content:''; display: block; clear: both;visibility: hidden;}
.notice .notiList {float:left; width:75%;}
.notice .notiList li {width:100%;}
.notice .notiList li a {display:block;font-size:13px; color:rgba(0,0,0,0.7);}
/* E:notice */
#content:after{display: block; clear: both; content: ""; height: 5px;}

/* 메인 ?�업 */
.firstPop{width: 250px; height: 350px; position: absolute; top: 50%; margin-top: -195px; left: 50%; margin-left: -125px;}
.firstPop > div > ul.slick-dotted.slick-slider{margin-bottom:0;}
.firstPopCtl{ background: #262626; padding-left: 15px; padding-right: 15px;}
.firstPopCtlA{ height: 40px; line-height: 40px; color: #fff; font-size: 14px;}
.firstPopCtl:after{display: block; clear: both; content: "";}

/* 2016-10-06 */
#eventAllList{display:none;position:fixed;top:0;left:0;width:100%;overflow:hidden;z-index:100001;background:#fff;}
#eventAllList.app{display:block;position:relative;}
#eventAllList > h2{position:fixed;top:0;left:0;width:100%;padding:14px 0;background:rgba(0,0,0,0.8);font-size:15px;color:#fff;text-align:center;}
#eventAllList > h2 > a{position:absolute; right:0; top:0;width:43px; height: 43px;}
#eventAllList > ul{position:relative;padding:43px 0 0 0;}
#eventAllList > ul li a,.eventAllList > ul li a{display:block;}

/* 2016-10-06 */
#recentAllList{position:fixed;bottom:0;left:0;width:100%;height:auto;overflow:hidden;z-index:1000001;background:#464646;/*padding-bottom:15px;*/}
#recentAllList.appRecent{height:100%;}
#recentAllList header { width:100%; height:43px;padding:14px 19px 13px; border:1px solid #2c2c2c; border-bottom:none;color:#fff;background:#3f3f3f;}
/* #recentAllList{position:fixed;bottom:0;left:0;width:100%;overflow:hidden;z-index:100001;background:#464646;padding-bottom:15px;}
#recentAllList header { width:100%; height:43px;padding:14px 19px 13px; border:1px solid #2c2c2c; height:40px; border-bottom:none;color:#fff;background:#3f3f3f;} */
#recentAllList > h2{float:left;background:rgba(0,0,0,0.8);font-size:15px;line-height:15px;text-align:center;}
#recentAllList header > h2{float:left;}
#recentAllList > header > .editBtn {/*position:absolute;right:15px;top:0px;*/ }
#recentAllList > header > .editBtn1{float:right; margin-right: 27px;}
#recentAllList > .editBtn2{width:100%;}
#recentAllList > header > div a {display:inline-block; /*padding-top:15px;*/ font-size:12px; padding-top:3px;padding-bottom:3px; font-size:14px; line-height:14px;font-weight:400; color:#fff;}
#recentAllList > header > div a.zzim {padding-left:19px; padding-right:13px;background: url(../images/cm/icon/bg_zzim.png) no-repeat 0 4px; background-size:14px 12px; }
#recentAllList > header > div a.edit2 {padding-left:19px; /*padding-right:15px;*/background: url(../images/cm/icon/bg_edit2.png) no-repeat 0 4px; background-size:14px 12px; }
#recentAllList > header > div a.edit {padding-left:29px;background: url(../images/cm/icon/bg_edit.png) no-repeat 0 4px; background-size:27px 10px; }
#recentAllList > div.editBtn2 > div {/*position:fixed; left:0; top:43px;*/ width: 100%; height:44px; /*padding-top:3px;*/ background-color:#3b3b3b; }
#recentAllList > div.editBtn2 > div ul {padding:12px 20px 14px 20px; border: 1px solid #2c2c2c;text-align:center; }
#recentAllList > div.editBtn2 > div ul:after, #recentAllList > ul.recentList:after {content: ''; display: block; clear: both; visibility: visible; zoom:1;}
#recentAllList > div.editBtn2 > div ul li {display:inline-block;}
#recentAllList > div.editBtn2 > div ul li a {display: block; padding-top:2px; font-size:12px; line-height: 12px; text-align:center;}
#recentAllList > div.editBtn2 > div ul li:first-child {width:68px;}
#recentAllList > div.editBtn2 > div ul li:nth-child(2) {margin-left:10px; width:80px;}
#recentAllList > div.editBtn2 > div ul li:nth-child(3) {margin-left:20px; width:65px;}
#recentAllList > div.editBtn2 > div ul li:first-child a {padding:3px 0px 3px 4px;color:#fff200; background:url(../images/cm/icon/bg_all.png) no-repeat 0 3px; background-size:11px 10px;}
#recentAllList > div.editBtn2 > div ul li:nth-child(2) a {padding:3px 0px 3px 19px;color:#fff;background: url(../images/cm/icon/bg_zzim.png) no-repeat 0 3px; background-size:14px 12px;}
#recentAllList > div.editBtn2 > div ul li:nth-child(3) a {padding:3px 0px 3px 16px;color:#fff;background: url(../images/cm/icon/bg_del.png) no-repeat 0 3px; background-size:14px 12px;}
#recentAllList > a {position:absolute;right:-12px; top:15px; width:40px; height: 40px; text-indent:-999px; background: url(../images/cm/btn/btn_delete3.png) no-repeat; background-size:14px;}
#recentAllList ul.recentList{/*height:200px;*/min-height:94px;padding:0 15px; margin: 0 auto; overflow-y:auto; }
#recentAllList.appRecent ul.recentList{height:auto;}
#recentAllList ul.recentList li {position:relative;float:left; width:24%; height: auto; margin:0 0.5% 1% 0.5%; }
#recentAllList ul.recentList li:nth-child(4n) {margin-right:0; }
#recentAllList ul.recentList li a {display:block; width:100%; height:auto; background: #fff}
#recentAllList ul.recentList li a img {width:100%; height: auto; }
#recentAllList ul.recentList li div.checkbox {position: absolute;top:5px; right:5px; width:15px; }
#recentAllList ul.recentList li div.dim3 {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
#recentAllList ul.recentList li div.date span{display:block; font-family:'Roboto';font-size:11px; line-height: 18px; text-align:center;color:#fff;position:absolute; bottom:0; left:0; width:100%; height: 18px; background:rgba(0,0,0,0.5);}
#recentAllList ul.recentList li .checks {position: relative; z-index: 5}
#recentAllList ul.recentList li .checks input[type="checkbox"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0}
#recentAllList ul.recentList li .checks input[type="checkbox"] + label {display: inline-block;position: relative;text-indent:-99999px; cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;}
#recentAllList ul.recentList li .checks input[type="checkbox"] + label:before {content: ' '; display: inline-block;  width: 15px;height: 15px;line-height: 15px;text-align: center;vertical-align: middle;background: #3f3f3f;border: 1px solid #fff200;}
#recentAllList ul.recentList li .checks input[type="checkbox"]:checked + label:before {content: '';color: #fff200;background: url(../images/cm/icon/bg_check.jpg) no-repeat center; background-size: 14px;border-color: #fff200;}
.recentAllList.zzimFin {position:fixed; top:50%; left:50%; width:125px; height: 125px; margin-left:-62px; margin-top:-62px; z-index: 200000;}
#scrollArea{overflow:hidden;padding:15px 0 15px 0;}
#recentAllList.appRecent #scrollArea{overflow-x:hidden;overflow-y:scroll;padding:15px 0;}
#scrollArea:after{display: block; clear: both; content: "";}
.closeArea{position:fixed;width:100%;height:100%;top:0;background:rgba(255,255,255,0);z-index:-1;}

/* ���� ������ */
.player{display:none; width:100%; height:100%;} /*2018-07-31 수정*/
.mainVodArea{width:100%;height:100%;position:absolute;top:0;left:0;z-index:20;object-fit: cover;background:#000;}
.videoControl{position:absolute;z-index:21;bottom:0;width:100%;height:42px;background:#f3f2f2;}

.btnPlay{display:none;position:absolute;top:0;left:6px;width:42px;height:42px;padding-top: 14px;text-align:center;}
.btnPlay img{width:auto;height:14px;}

.btnPause{position:absolute;top:0;left:6px;width:42px;height:42px;padding-top: 14px;text-align:center;}
.btnPause img{width:auto;height:14px;}

.btnVol{position:absolute;right:52px;width:42px;height:42px;padding-top: 14px;text-align:center;}
.btnVol img{width:auto;height:14px;}

.btnResize{position:absolute;right:6px;width:42px;height:42px;padding-top: 14px;text-align:center;}
.btnResize img{width:auto;height:14px;}

.timeBar{position:absolute;left:54px;height:42px;padding-top: 15px;text-align:center;}
.timeBar span{}

.seekBar{position:absolute;left:130px;width:38%;height:42px;line-height:42px;text-align:center;}
.seekBar > a{position:absolute;top:0;left:0;width:12px;height:42px;line-height:42px;text-align:center;}

.tvClose{position:absolute;z-index: 22;right:15px;top:15px;width:20px;height:20px;}
.tvClose img{width:100%;}

.kPageSwipe #eventWrap,.kPageSwipe .endEvent{margin-top:40px;}

/*편성표 슬라이드*/
.banner01 .slick-slide img {height:15.9vw;}


/*이전/다음 상품편성*/
.mainOnAir {position: relative; margin-top: 8px;}/*2018-04-13 수정*/
.mainOnAir .horizon {height:auto; overflow: hidden; position: relative;}
.mainOnAir .horizon li {padding:0; float:left; position: relative; margin:0 5px; background: #fff; border-radius: 5px;}
.mainOnAir .horizon li .img {width:105px; display: block;  position: relative; float:left; padding:15px 15px 15px 0; }  /*2018-04-12 수정*/
/*.mainOnAir .horizon li .imgProd img { border-bottom-right-radius:5px; border-top-right-radius:5px;}*/
.mainOnAir .horizon li .txt {padding:15px 0 15px 15px; float:left; margin-right:15px;min-width:150px;max-width:175px; text-align: left;}  /*2018-04-12 수정*/
.mainOnAir .horizon li .txt .txt_onAir {color:#e40d0d; font-size:13px;}
.mainOnAir .horizon li .txt .tit a{color:#000;width:100%; margin-top:8px; margin-bottom:8px; font-size:13px; line-height: 15px; height:30px; max-height:30px; display:block; display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;} /*2018-04-12 수정*/
.mainOnAir .horizon li .won {margin-top:8px; width:100%; height:30px; vertical-align: middle;} /*2018-04-12 수정*/
.mainOnAir .horizon li .won:after {display:block; content: ''; visibility: hidden;clear: both;}
.mainOnAir .horizon li .txt .won span {display:block;}
.mainOnAir .horizon li .txt .money {float:left; width:60%; height:30px; vertical-align: middle;}  /*2018-04-12 수정*/
.mainOnAir .horizon li .txt .money span {display:inline-block; font-size:17px;line-height: 17px;}
.mainOnAir .horizon li .txt .benefit {display: block; margin-top:5px; font-size:10px;color:#565a5c; letter-spacing:0px}
.mainOnAir .horizon li .txt .benefit .mcoupon {display:inline;color:#5674b9;width:auto; font-size:10px;height:18px;background:none;}
.mainOnAir .horizon li .txt .sale {float:left; line-height:30px; padding-top:0; height:30px; margin-right:10px; font-size:33px; color:#e30613;}
.mainOnAir .horizon li .won .sale em {font-size:14px; padding-left:2px;}
.mainOnAir .horizon li .won .del {display:block; width:100%; color:rgba(0,0,0,0.5);}
.mainOnAir .horizon li .won .del .num { font-size:12px !important; line-height: 12px;}
.mainOnAir .horizon li .won .del em {font-size:10px; padding-left:0px; line-height: 10px;}
.mainOnAir .horizon li .won .price {display:block; font-size:17px; line-height: 17px; font-weight:700;margin-top:0px;color:#000;padding-right:2px;}


/*2018-07-20 듀얼편성*/
.wrap_tvshopping,.wrap_tvplus { background:#e9ecef; text-align:center;}
.broadcast.wrap_tvshopping .txt,.broadcast.wrap_tvplus .txt {width: calc(100% - 150px); padding: 40px 10px 20px;}
.broadcast.wrap_tvshopping .btn,.broadcast.wrap_tvplus .btn {padding: 20px 10px 12px 0;}
.broadcast.wrap_tvshopping .btn a,.broadcast.wrap_tvplus .btn a {display:block; width:60px; height: 60px; text-align: center; float:left ;background:none; border:none;}
.broadcast.wrap_tvshopping .vod,.broadcast.wrap_tvplus .vod {position:relative; height:auto;}
.broadcast.wrap_tvshopping .vod a,.broadcast.wrap_tvplus .vod a {display:inline-block;}
.broadcast.wrap_tvshopping .vod .play,.broadcast.wrap_tvplus .vod .play {position:absolute;top:50%; left:50%; width:60px; height:60px; text-indent: -999999px;background: url(../images/cm/btn/btn_Mvod.png) no-repeat center 50%;background-size:35px auto; margin-left:-30px; margin-top:-50px; z-index:100;}
.broadcast.wrap_tvshopping .vodTxt,.broadcast.wrap_tvplus .vodTxt {position:absolute; bottom:0; z-index:100; color:#fff; background:url(../images/main/bg_vodTxt.png) 0 -10px repeat-x; height:100px; background-size:auto; width:100%;}
.broadcast.wrap_tvshopping .txt .tit,.broadcast.wrap_tvplus .txt .tit {font-size:15px; color:#fff; margin-bottom:7px;}
.broadcast.wrap_tvshopping .mainTv_tit:before { width: 28px; content: url(../images/main/icon_tv.svg); height:26px; display:inline-block; float: left; transform: scale(.7); margin-top:-3px; margin-right:3px; margin-left:1px;}
.broadcast.wrap_tvplus .mainTv_tit:before { width: 32px; content: url(../images/main/icon_tvplus.svg); height:22px; display:inline-block; float: left; transform: scale(.7);}
.mainTv_tit {padding: 13px 15px; color:#353535; font-size:16px; font-weight:bold; display: inline-block; width: 100%;}
.mainTv_tit span {float:left; display:inline-block; line-height: 140%; margin-top:1px;}
.mainTv_tit span.ico_onAir {float:right; width:52px;}

