@charset "utf-8";

/* ���� */
.dashboard .grayArea .orderAdminList li {background-position:right bottom 6px;}
.orderAdminList {}
.orderAdminList + .div2 {margin-top:15px !important;}
.dashboard .grayArea .div2 div {/*padding:12px 0 10px !important;*/}
.orderAdminList li {}
.orderAdminList li a {display:inline-block; width:100%: height:100%;}
.orderAdminList li a .bg {display:block; font-weight:400; padding-top:21px; font-size:13px;}
.orderAdminList li:first-child a .bg {background:url('../images/cm/icon/mypage_main_pro1.png') no-repeat center 0; background-size:15px 15px;}
.orderAdminList li:nth-child(2) a .bg {background:url('../images/cm/icon/mypage_main_pro2.png') no-repeat center 0; background-size:14px 18px;}
.orderAdminList li:nth-child(3) a .bg {background:url('../images/cm/icon/mypage_main_pro3.png') no-repeat center 0; background-size:17px 16px;}
.orderAdminList li:nth-child(4) a .bg {background:url('../images/cm/icon/mypage_main_pro4.png') no-repeat center 0; background-size:20px 15px;}
.orderAdminList li:nth-child(5) a .bg {background:url('../images/cm/icon/mypage_main_pro5.png') no-repeat center 0; background-size:21px 17px;}
.orderAdminList li a .num {display:block; margin-top:8px; font-size:19px;}
/* ���� */

/* ���ξ˶� */
.shopAlramLIst {}
.shopAlramLIst li {border-bottom:1px solid #e1e4e7;}
.shopAlramLIst li > a {display:inline-block; width:100%; height:100%; margin:10px 0; padding:0 15px; background:url('../images/cm/btn/btn_arrow_down.png') no-repeat right 15px center; background-size:11px 6px;}
.shopAlramLIst li.active > a {background:url('../images/cm/btn/btn_arrow_up.png') no-repeat right 15px center; background-size:11px 6px;}
.shopAlramLIst li .date {display:inline-block;font-family:'roboto';letter-spacing:0; color:#a3a3a3;}
.shopAlramLIst li strong {display:inline-block; width:90%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:5px 0 3px; font-weight:400; font-size:14px; }
.shopAlramLIst li .txt {display:inline-block; width:90%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.shopAlramLIst li .openInfo {display:none; background-color:#f9fafb; border-top:1px solid #e1e4e7;}
.shopAlramLIst li .openInfo p {padding:0 15px 12px; font-size:13px; line-height:17px; word-break:break-all; }
.shopAlramLIst li .openInfo p:first-child {padding-top:12px;}
.shopAlramLIst li .openInfo .attatchImg {margin-bottom:-1px;}
.shopAlramLIst li .openInfo .attatchImg a {display:inline-block; width:;100%; height:100%;}
.shopAlramLIst li .openInfo .attatchImg a img {}
.shopAlramLIst li.active .openInfo {display:block;}
/* ���ξ˶� */

/* ��ȸ�� */
	/* ������Ȳ */
	.fullPop_con .tbVerti tbody tr td, .fullPop_con .tbVerti tbody tr th {vertical-align:middle;}
	.tbVerti tbody tr td .btnOrderC {height:30px; padding:7px 10px;}
	.fullPop .tbVerti tbody tr td {height:40px; padding:5px 0 5px 10px;}
	.fullPop .tbVerti tbody tr td .wingArea span {line-height:30px;}
	.orderChkList li .info .detail .state.compl {color:#a3a3a3;}
	select:disabled, input[type="tel"]:disabled, input[type="text"]:disabled {border:1px solid #e1e4e7 !important; background-color:#f9fafb !important;}
	select:disabled,input[type="tel"]:disabled, input[type="text"]:disabled {opacity:1; /*-webkit-text-fill-color:#ccc;*/}
	/* ������Ȳ */
/* ��ȸ�� */

/* �ֹ������ȸ */
.boardOrderWrite table tbody tr:first-child.tall th.vTop {padding-top:15px !important;}
.boardOrderWrite table tbody tr th .require {color:#ed2004;}
.fullPop .boardOrderWrite table tbody tr:first-child.tall th, .fullPop .boardOrderWrite table tbody tr:first-child.tall td {border-top:0;}
.adrSelectList {}
.adrSelectList li {margin-top:15px; border:1px solid #e1e4e7; }
.adrSelectList li:first-child {margin-top:0;}
.adrSelectList li .adrTop {padding:14px 15px; border-bottom:1px solid #e1e4e7;}
.adrSelectList li .adrTop p {letter-spacing:0;}
.adrSelectList li .adrMid {padding:5px 15px 15px;}
.adrSelectList li .adrMid dt {float:left; margin-top:10px;}
.adrSelectList li .adrMid dd {display:block; margin-top:10px; padding-left:70px;}
.adrSelectList li .adrBottom {display:table; width:100%; padding:5px 5px 5px 15px; border-top:1px solid #e1e4e7;}
.adrSelectList li .adrBottom p {display:table-cell;}
.adrSelectList li .adrBottom span {display:table-cell; text-align:right;}
.adrSelectList li .adrBottom span .btnOrderC {width:auto; height:30px; padding:7px 10px;}
.bottomBtnBase.bottomBtn1 .bottomBtnCancel {width:100%;}

.mySoltWrap {overflow:hidden; margin-top:8px;}
.mySoltWrap select {float:left; width:70%; height:40px; font-size:14px; border:1px solid #e1e4e7; border-left:1px solid #fff;}
.mySoltWrap.twoSet select {width:35%;}
.mySoltWrap.only select {width:100%;}
.mySoltWrap .btnOrderC {float:left; width:30%; height:40px !important; padding:12px 0 !important; text-align:center; border:1px solid #e1e4e7; border-left:0; border-right:0; font-size:14px !important;}

div.borderT8 table tbody:first-child tr:first-child th, 
div.borderT8 table tbody:first-child tr:first-child td {border-top:0 !important;}



.mypageWrap .boardOrderView > table tbody table.innerBoard tbody tr th {padding-left:15px;}
.mypageWrap .boardOrderView table.innerBoard tbody tr:last-child th {padding-bottom:15px;}
.boardOrderView table.innerBoard tbody tr.borderT1:last-child td {padding-bottom:15px;}
.boardOrderView table.innerBoard tbody tr.borderT1:first-child td {padding-top:15px;}
.boardOrderView table.innerBoard tbody tr.borderT1:first-child th {padding-top:15px;}
.boardOrderWrite .radioForm {width:100%;}
/* �ֹ������ȸ */

/* �� ��ǰ�� */
.myPageWrap .orderWrap .orderProWrap ul {padding-left:0; padding-right:0;}
.myPageWrap .orderWrap .orderProWrap ul li {padding-left:15px; padding-right:15px;}
.myPageWrap .orderWrap .orderProWrap ul li .infoArea .btnOrderC {height:35px; line-height:15px; padding:10px 12px;}
.orderProWrap ul.line li {overflow:hidden;}
.orderProWrap ul li .infoArea .starArea {}
.orderProWrap ul li .infoArea .starArea .writeStar {display:inline-block; width:80px; height:13px; margin-bottom:5px; text-indent:-9999px; background:url('../images/cm/bg/star_rating_empty.png') no-repeat 0 0; background-size:80px 13px;}
.orderProWrap ul li .infoArea .starArea .writeStar em {display:block;  height:13px;  background:url('../images/cm/bg/star_rating_full.png') no-repeat 0 0; background-size:80px 13px;}
.orderProWrap ul li .infoArea .starArea .date {display:inline-block; margin-left:10px; color:#a3a3a3;font-size:14px}
.orderProWrap ul li .hiddenWriteArea {clear:both; margin:0 -15px; border-top:1px solid #f4f4f4;}
.orderProWrap ul li .hiddenWriteArea > a {display:block; padding:15px; padding-right:45px; background:url('../images/cm/icon/bg_faq_close.png') no-repeat right 15px center; background-size:12px 6px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.orderProWrap ul li.active .hiddenWriteArea > a {background:url('../images/cm/icon/bg_faq_open.png') no-repeat right 15px center; background-size:12px 6px;}
/*.orderProWrap ul li .hiddenWriteArea > a.best.on {padding-left:70px; background:url('../images/cm/icon/bg_faq_close.png'), url('../images/cm/bg/bg_write_best.png'); background-repeat: no-repeat ,no-repeat; background-position:right 15px center, 15px center; background-size:12px 6px, 46px 30px;}*/
.orderProWrap ul li .hiddenWriteArea > a.best {padding-left:70px; background:url('../images/cm/icon/bg_faq_close.png'), url('../images/cm/bg/bg_write_best.png'); background-repeat: no-repeat ,no-repeat; background-position:right 15px center, 15px center; background-size:12px 6px, 46px 30px;}
.orderProWrap ul li.active .hiddenWriteArea > a.best {background:url('../images/cm/icon/bg_faq_open.png'), url('../images/cm/bg/bg_write_best.png'); background-repeat: no-repeat ,no-repeat; background-position:right 15px center, 15px center; background-size:12px 6px, 46px 30px;}
/*.orderProWrap ul li .hiddenWriteArea > a.best.on {background:url('../images/cm/icon/bg_faq_open.png') no-repeat right 15px center; background-size:12px 6px;}*/
.orderProWrap ul li .hiddenWriteArea .invisible {display:none; background-color:#f9fafb; border:1px solid #e1e4e7;}
.orderProWrap ul li.active .hiddenWriteArea .invisible {display:block;}
.orderProWrap ul li .hiddenWriteArea .invisible > p {padding:15px; line-height:16px;}
.orderProWrap ul li .hiddenWriteArea .invisible strong {display:block; margin-top:15px; text-align:center;}
.orderProWrap ul li .hiddenWriteArea .invisible .img {}
.orderProWrap ul li .hiddenWriteArea .invisible .img img {}
.orderProWrap ul li .hiddenWriteArea .invisible .btnArea {text-align:center; background-color:#f9fafb;}
.orderProWrap ul li .hiddenWriteArea .invisible .btnArea .btnOrderC {width:auto; height:30px; padding:7px 10px;}

	 /* ��ǰ�� �󼼺��� */
	.proWriteWrap {}
	.proWriteWrap > p {padding:7px 20px; text-align:right; background-color:#e9ecef; border:1px solid #e1e4e7;}
	.proWriteWrap > p .require {display:inline-block; margin-right:3px; color:#ed2004;}
	.proWriteWrap > ol {padding:0 15px;}
	.proWriteWrap > ol > li {}
	.proWriteWrap > ol > li:last-child {padding-bottom:15px; border-bottom:1px solid #e1e4e7;}
	.proWriteWrap > ol > li h5 {padding:12px 0; font-size:12px; font-weight:400;}
	.proWriteWrap > ol > li h5 .fnum {font-weight:700;}
	.proWriteWrap > ol > li .inputArea {}
	.proWriteWrap > ol > li.oneLine {display:table; width:100%; border-bottom:1px solid #e1e4e7;}
	.proWriteWrap > ol > li.oneLine h5 {display:table-cell; vertical-align:middle;}
	.proWriteWrap > ol > li.oneLine .inputArea {display:table-cell; padding:15px 0; vertical-align:middle;}
	.proWriteWrap > ol > li.oneLine .inputArea .starArea {display:inline-block; width:127px; height:21px; text-indent:-9999px; background:url('../images/cm/bg/star_rating_empty.png') no-repeat 0 0; background-size:127px 21px;}
	.proWriteWrap > ol > li.oneLine .inputArea .starArea .writeStar {display:block;  height:21px;  background:url('../images/cm/bg/star_rating_full.png') no-repeat 0 0; background-size:127px 21px;}
	span.require {color:#ed2004;}

	.addImgForm {overflow:hidden;}
	.addImgForm li {position:relative; float:left; width:19.7%; height:auto; margin-left:0.3%; padding-top:5px; padding-right:5px;}
	.addImgForm li:first-child {margin-left:0;}
	.addImgForm li button {position:absolute; top:0px; right:0px; width:20px; height:20px; text-indent:-9999px; background:url('../images/cm/btn/btn_add_close.png') no-repeat 0 0; background-size:20px 20px;}
	.addImgForm li.btnReg {padding-right:0;}
	.addImgForm li.btnReg a {display:inline-block; width:100%; height:100%; text-indent:-9999px; background:url('../images/cm/btn/btn_plus.png') no-repeat center center; background-size:15px 15px; border:1px solid #e1e4e7;}
	.subBox01 .subTit + .contsTable {margin-top:0;}
	
	.orderChkList.detail li .bottom .btnOrderC {height:30px; margin-left:5px; padding:7px 10px;}
	 /* ��ǰ�� �󼼺��� */
/* �� ��ǰ�� */
/* ��������� */

	/* �ֹ��󼼺��� */
	.subBox01 {position:relative;}
	.subBox01 .btnOrderC {position:absolute; top:6px; right:15px;height:30px; padding:7px 10px; line-height:14px;}
	.detailNumber.wingArea .btnOrderC {height:35px; line-height:16px !important; padding:9px 10px;}
	.myPageWrap .boardOrderWrite table tbody tr.tall td:first-child {padding-left:15px; border-top:0;}
	.myPageWrap .boardOrderWrite table tbody tr.tall td:first-child textarea {vertical-align:bottom;}
	.myPageWrap .boardOrderWrite table tbody tr td .btnOrderC {height:30px; padding:7px 10px; line-height:14px; text-align:center;}
	.myPageWrap .boardOrderWrite table tbody tr.small th {padding-top:0; border-top:0;}
	.myPageWrap .boardOrderWrite table tbody tr:last-child.small th {padding-top:0; border-top:0;}
	.myPageWrap .boardOrderWrite table tbody tr td .phoneInput {overflow:hidden;}
	.myPageWrap .boardOrderWrite table tbody tr td .phoneInput select {float:left; width:28%;}
	.myPageWrap .boardOrderWrite table tbody tr td .phoneInput input[type="tel"] {float:left; width:31%;}
	.myPageWrap .boardOrderWrite table tbody tr td .phoneInput ._at {float:left; width:5%; line-height:34px;}
	.myPageWrap .boardOrderWrite table tbody tr td .emailInFom {overflow:hidden;}
	.myPageWrap .boardOrderWrite table tbody tr td .emailInFom input[type="text"] {float:left;}
	.myPageWrap .boardOrderWrite table tbody tr td .emailInFom select {float:left;}
	.myPageWrap .boardOrderWrite table tbody tr td .emailInFom .at {float:left;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList {margin-top:0; padding:0;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList + .orderChkList {margin-top:5px}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList li {margin-top:0; border:0;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList li .info {position:relative; padding:0;}
	.myPageWrap .orderChkList li .info {position:relative;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList.detail {margin-top:5px; border:1px solid #ccc;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList.detail .info {padding:10px; border-top:1px solid #ccc;}
	.myPageWrap .boardOrderWrite table tbody tr td .orderChkList.detail .top {padding-top:10px; padding-bottom:10px; background-color:#e9ecef;}
	/* �ֹ��󼼺��� */

	/* �����ȣ ã�� */
	.adrSchForm01 {padding:15px; background-color:#fff;}
	.adrSchForm01 fieldset {}
	.adrSchForm01 fieldset select {height:40px; margin-bottom:5px; border:1px solid #ccc;}
	.adrSchForm01 fieldset .inputOne {overflow:hidden;}
	.adrSchForm01 fieldset .inputOne input[type="text"] {float:left; width:27%; height:40px; margin-right:2%; border:1px solid #ccc;}
	.adrSchForm01 fieldset .inputOne input[type="tel"] {float:left; width:21.5%; padding:10px 5px; height:40px; text-align:center; border:1px solid #ccc; }
	.adrSchForm01 fieldset .inputOne button {float:right; width:22%; height:40px; line-height:40px; margin-left:2%; border:1px solid #cccccc;}
	.adrSchForm01 fieldset .inputOne input[type="text"] + button {margin-left:0;}
	.adrSchForm01 fieldset .inputOne ._at {float:left; width:4%; line-height:34px; color:#a3a3a3;}
	.adrSchForm01 p {margin-top:10px;  word-break:break-all;}
	.adrSchForm01 .error {color:#ed2024;}
	.adrSchForm01 .notice {padding:0;border:0; font-weight:700;}
	.adrSchForm01 .example {padding-left:19px; text-indent:-17px;}

	.contsTableWrap {padding:15px; background-color:#fff; }
	.myPageWrap .contsTableWrap .contsTable tbody tr td {padding:8px 0; border-top:0;}
	.myPageWrap .contsTableWrap .contsTable tbody tr td.alignL {text-align:left; padding-left:12px;}
	.myPageWrap .contsTableWrap .contsTable tbody tr:first-child td {padding-top:15px;}
	.myPageWrap .contsTableWrap .contsTable tbody tr:last-child td {padding-bottom:15px;}
	.myPageWrap .contsTableWrap .btnArea {margin-top:15px; padding:0;}
	.myPageWrap .contsTableWrap .btnArea .btnOrderC {width:100%; height:45px; border:1px solid #ccc;  text-align:center; }
	.myPageWrap .contsTableWrap .btnArea .btnOrderC.gray {background-color:#565a5c; border:1px solid #565a5c; color:#fff;}
	.myPageWrap .contsTableWrap .btnArea .btnOrderC.red {border:1px solid #ed2004}
	.contsTableWrap .btnMore span {display:inline-block; padding-left:13px; font-size:14px; background:url('../images/cm/btn/btn_link_plus.png') no-repeat 0 2px ;background-size:9px 9px;}
	.contsTableWrap .listData01 {margin-top:15px; padding-top:10px; border:1px solid #ccc;}
	.contsTableWrap .listData01 li {border-top:0;}
	.contsTableWrap .listData01 li div {padding:5px;}
	.contsTableWrap .listData01 li + .wide {margin-top:5px;}

	.selectList01 {margin-top:15px; background-color:#fff; border:1px solid #ccc;}
	.selectList01 li {padding:10px 15px; border-top:1px solid #ccc;}
	.selectList01 li:first-child {border-top:0;}
	.selectList01 li label {height:auto !important; padding-left:30px !important; background-size:20px 20px !Important; background-position:0 center !important;}
	.selectList01 li span {display:inline-block; width:100%; line-height:22px;}
	.selectList01 li span em {margin-right:3px;}
	.fullPop .redTab {border-top:0;}

/* ��������� */

/* ����Ʈ/���� */
	/* ����Ʈ */
	.pointList01 {}
	.pointList01 li {font-size:12px;}
	.pointList01 li .point {}
	.pointList01 li .point div {overflow:hidden;}
	.pointList01 li .point div:after {content:''; display:block; clear:both;}
	.pointList01 li .point div p {float:left; font-size:16px; color:#a3a3a3;}
	.pointList01 li .point div strong {float:right; font-size:16px; color:#a3a3a3; font-weight:400; font-family:'roboto'; letter-spacing:0;}
	.pointList01 li .point div strong em {font-family:'notokr';}
	.pointList01 li .point div.red p, .pointList01 li .point div.red strong {color:#ed2004;}
	.pointList01 li .point div.blue p, .pointList01 li .point div.blue strong {color:#2077ed;}
	.pointList01 li .point span {display:inline-block; margin-top:5px;}
	.pointList01 li .point dl {overflow:hidden;}
	.pointList01 li .point dl dt {float:left; width:auto; margin-top:5px; margin-right:5px;}
	.pointList01 li .point dl dd {float:left; width:81%; margin-top:5px;}
	.pointList01 li .event {display:table; width:100%;}
	.pointList01 li .event ul {display:table-cell;}
	.pointList01 li .event ul li {margin-top:5px; border-bottom:0;}
	.pointList01 li .event ul li:first-child {margin-top:0px;}
	.pointList01 li .event div {display:table-cell; vertical-align:middle; text-align:right;}
	.pointList01 li .event .btnOrderC {height:30px; padding:7px 10px; vertical-align:middle;}
	.grayBox02 + .sort.mypage {margin-top:0;}
	.contsTable tbody.small tr td {padding:15px 10px !important;}
	.sharePop .listBullet li{display:block; width:100%;  height: auto; margin-top:0; background: #fff;margin-right: 0; background:url('../images/cm/bullet_default.png') no-repeat 0 5px !important; background-repeat: no-repeat; background-size: 2px 2px !important; border-radius: 0; border: 0; text-align: left;}
	.sharePop .borderBox01 {border:1px solid #e1e4e7;}
	.sharePop .borderBox01 .listBullet {padding-left:5px;}
	.fullPop .fullPop_con .contsTable tbody tr td {height:40px; padding-top:10px; padding-bottom:10px; line-height:15px;}
	.pointList01 li div strong {letter-spacing:0;}
	.pointList01 li div div span {letter-spacing:0;}
	/* ����Ʈ */

	/* ���� */
	.fullPop .listBullet li {margin-top:0;}
	/* ���� */
/* ����Ʈ/���� */

/* ���� ���� ���� */

	/* ȸ������ ���� */
	.myPageWrap .boardOrderView table {}
	.myPageWrap .boardOrderView table tbody tr th {border-top:1px solid #f4f4f4; padding-top:0 !important; padding-bottom:0 !important; vertical-align:middle;}
	.myPageWrap .boardOrderView table tbody tr th.vTop {padding-top:30px !important; vertical-align:top;}
	.myPageWrap .boardOrderView table tbody tr td {height:40px; border-top:1px solid #f4f4f4; padding:5px 0 5px 10px !important; vertical-align:middle;}
	.myPageWrap .boardOrderView table tbody tr:first-child th, .myPageWrap .boardOrderView table tbody tr:first-child td {border-top:0;}
	.myPageWrap .boardOrderView table tbody tr td .btnOrderC {height:30px; padding:7px 10px;}
	.myPageWrap .boardOrderView table tbody tr.tall td {padding-top:15px !Important; padding-bottom:15px !important;} 
	.myPageWrap .boardOrderView table tbody tr td .callInputForm div input {margin-left:0;}
	.myPageWrap .boardOrderView table tbody tr td .callInputForm .btnOrderC {width:100%; margin-top:5px; height:40px; padding-top:12px; padding-bottom:12px; font-weight:400;}
	.myPageWrap .boardOrderView table tbody tr td .callInputForm div {overflow:hidden; margin-top:5px;}
	.myPageWrap .boardOrderView table tbody tr td .callInputForm div input[type="tel"] {float:left; width:75%;}
	.myPageWrap .boardOrderView table tbody tr td .callInputForm div .btnOrderC {width:22%; float:right; margin-top:0; font-weight:400;}
	.myPageWrap .boardOrderWrite table tbody tr td {}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList {overflow:hidden; margin-top:5px;}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList li {float:left; margin-top:5px; line-height:20px;font-size: 13px;}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList.twoSet li {width:50%;;}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList li label {line-height:18px; }
	.myPageWrap .boardOrderWrite table tbody tr.tall:first-child td {padding-bottom:15px;}
	.myPageWrap .boardOrderWrite table tbody tr:last-child th {padding-top:18px;}
	.myPageWrap .boardOrderWrite table tbody tr th.vTop {padding-top:25px !important;}
	.myPageWrap .boardOrderWrite table tbody tr td .radioLine {margin-top:10px;}
	.myPageWrap .boardOrderWrite table tbody tr td .radioLine:first-child {margin-top:0;}
	.myPageWrap .boardOrderWrite table tbody tr td .radioLine span {display:inline-block; width:60px;}
	/* ȸ������ ���� */

	/* SNS �������� */
	.snsListWrap {padding:15px 15px 80px; background-color:#fff;}
	.snsList01 {border:1px solid #e1e4e7;}
	.snsList01 li {border-top:1px solid #e1e4e7;}
	.snsList01 li:first-child {border-top:0;}
	.snsList01 li .top {overflow:hidden;padding:15px;}
	.snsList01 li .top strong {float:left;}
	.snsList01 li .top a {float:right;}
	.snsList01 li .bottom {padding:33px 15px 33px 80px; border-top:1px solid #f4f4f4;}
	.snsList01 li.facebook .bottom {background:url('../images/cm/icon/icon_sns_facebook.png') no-repeat 15px center; background-size:50px 50px;}
	.snsList01 li.kakao .bottom {background:url('../images/cm/icon/icon_sns_kakao.png') no-repeat 15px center; background-size:50px 50px;}
	.snsList01 li.naver .bottom {background:url('../images/cm/icon/icon_sns_naver.png') no-repeat 15px center; background-size:50px 50px;}
	.snsList01 li .bottom p label {display:inline-block; text-indent:-9999px;}
	/* SNS �������� */

	/* ���������ϱ� */
	.infoWrap {padding-top:15px; }
	.infoWrap .boldTop {display:block; padding:10px 0; line-height:19px; text-align:center; font-size:14px; }
	.infoWrap .btnArea {padding-top:15px;text-align:center;}
	.infoWrap .btnArea .btnOrderC {}
	.infoWrap .btnArea.center {}
	.infoWrap .btnArea.center .btnOrderC {width:150px;}
	.infoWrap .btnArea.twoSet {}
	.infoWrap .btnArea.twoSet .btnOrderC {}
	/* ���������ϱ� */

/* ���� ���� ���� */

/* ��۾˸� */
.titNlinkPack.oneSet + .orderChkList.detail {margin-top:8px;}
.titNlinkPack.oneSet li {width:100%; background-position:95% 50%; border-left:1px solid #e1e4e7; border-bottom:1px solid #e1e4e7;}
.titNlinkPack.oneSet li:last-child {border-bottom:1px solid #e1e4e7;}
/* ��۾˸� */

/* ���� */
.myPageWrap {font-size:12px;}
.myPageWrap .btnArea {padding:15px; background-color:#fff;}
.myPageWrap .btnArea .btnOrderC {width:49%;}
.btnTxt {display:table; width:100%; margin:8px 0; padding:15px; background-color:#fff;}
.btnTxt p {display:table-cell; width:85%;}
.btnTxt .btnOrderC {display:table-cell; width:15%; height:30px; padding:7px 0;}
.ps15 .btnArea {padding-left:0; padding-right:0;}
.borderT1 {border-top:1px solid #e9ecef !important;}
.ps15 .grayBox02 {border:1px solid #e1e4e7;}
.ps15 h3 {padding:15px 0; font-size:13px; }
.numOrderList li {margin-top:10px; padding-left:5px; text-indent:-10px; }
.numOrderList li:first-child {margin-top:0;}
.checkList {overflow:hidden; padding:10px 0 15px;}
.checkList li {float:left; margin-top:5px;}
.checkList li label {}
.checkList.twoSet li {width:50%;}
.bigTxt {padding:20px 0; font-size:18px; line-height:22px; color:#000;}
.borderBox01 {padding:15px 12px; border:1px solid #ccc;}
.borderBox01 p { word-break:break-all;}
.btnOrderC .bgHome {display:inline-block; margin-top:-3px; padding-left:30px; line-height:20px; background:url('../images/cm/bg/bg_btn_home.png') no-repeat 0 center; background-size:24px 18px;}
.btnOrderC.redLine {border:1px solid #ed2004; color:#ed2004;}
.pb0 {padding-bottom:0px !important;}
.orderChkList.detail + .btnArea {padding-top:0;}
.myPageWrap .btnArea.oneSet {}
.myPageWrap .btnArea.oneSet .btnOrderC {width:100%; font-weight:700;}
.grayBox01 p {font-size:12px; }
.sharePop .boardOrderView table {background-color:#fff;}
.myPageWrap .boardOrderView table tbody.h50 tr td {height:50px; padding-top:5px; padding-bottom:5px;}
.ps15 h3 + .contsTable {margin-top:0;}
.myPageWrap .detailNumber {padding-top:12px; padding-bottom:12px;background-color:#f9fafb;}
.orderChkList.detail li .info .imgArea input + label {width:115px;}
.orderChkList.detail li .info .imgArea input + label:before {top:0;}
.orderChkList.detail li .info .imgArea.withChk {width:115px;}
.orderChkList li .info .imgArea.withChk + .detail {width:55%;}
.orderChkList li .info .detail ul li span {display:inline !important; letter-spacing:0;}
.listData01.type02 {padding:10px 0; border-top:1px solid #f4f4f4; background-color:#fff;}
.listData01.type02 li {border:0;}
.listData01.type02 li div {padding:5px 15px 0 10px;}
.orderChkList li .info {}
.myPageWrap .grayBox02 + .mySoltWrap {margin-top:-1px !important;}
.myPageWrap .grayBox02 + .delAdrList {margin-top:-1px !important;}
.myPageWrap .grayBox02 + .boardOrderWrite {margin-top:-1px !important;}
.redTab + .grayBox02 {margin-top:-1px !important;}
.boardOrderWrite table tbody tr td .adrInputForm button {height:40px;}
.mypageWrap .btnOrderC, .myPageWrap .btnOrderC {line-height:15px !important;}
.mypageWrap .innerBoardW tr.boldTop th {border-bottom:1px solid #e1e4e7; font-weight:700;}
.mypageWrap .innerBoardW tr.boldTop td {padding-bottom:12px; border-bottom:1px solid #e1e4e7;}
.mypageWrap .innerBoardW tr.boldTop + tr th, .mypageWrap .innerBoardW tr.boldTop + tr td {padding-top:12px !important;}
.faqWrap > ul li:first-child {border-top:0;}
.boardOrderView > table.borderB8 thead + tbody tr:first-child th, .boardOrderView > table.borderB8 thead + tbody tr:first-child td {border-top:0;}
.boardLstSum td p span.fnum em {font-size:12px;}
.faqWrap > ul {border-bottom:1px solid #f4f4f4;}
.faqTop {border-bottom:1px solid #f4f4f4;}
.boardOrderWrite table tbody tr td .btnQuestion {margin-top:12px; font-size:0;}
.toolTip .listBullet li {text-align:left;}
.toolTip .closeBtn {font-size:0;}
.boardOrderWrite .radioForm.twoSet div {width:50%; line-height:24px !important;}
.orderChkList.detail li .info .detail .btnOrderC {height:30px; margin-top:10px; padding:7px 10px;}
.mypage .csArea .cs > a {display:inline-block; margin-top:2px;}
.mypage .csArea .cs > a strong {display:inline-block; margin-top:2px;}
.boardOrderWrite table tbody tr.tall + tr.tall + tr.tall + tr.small + tr.tall + tr th {padding-top:12px;}
.boardOrderWrite table tbody tr.tall + tr.tall + tr.tall + tr.small + tr.tall + tr td {padding-top:0;}
.mypageWrap .innerBoardW tr td {padding-right:15px;}
.orderProWrap ul li .infoArea > p.figures + p.price {margin-top:4px;}
.optionLayer .div2 span.num {float:left;height:27px;line-height:28px;padding:0 2px;}
.myPageWrap .orderChkList li.price {position:absolute; bottom:10px; left:auto;}
.myPageWrap .boardOrderWrite .orderChkList li.price {bottom:0;}
.myPageWrap .orderChkList li.price strong {font-family:'roboto';}
.myPageWrap .orderChkList li.price strong em {font-weight:400; font-family:'notokr';}
.fullPop_con .orderChkList li .info .detail .prod {margin-bottom:4px;}
.fullPop_con .orderChkList li .info .detail ul li.price {margin-top:4px;}
.fullPop_con .orderChkList li .info .detail ul li.price strong {font-family:'roboto'; font-size:14px;}
.fullPop_con .orderChkList li .info .detail ul li.price strong em {font-family:'notokr'; font-weight:400;}
.toolTip .inWrap .saleLIst li {overflow:hidden; display:inline-block;}
.toolTip .inWrap .saleLIst li p {float:left; width:95px;}
.toolTip .inWrap .saleLIst li span {float:left;}
ol li.noDataItem, ul li.noDataItem {/*display:table; width:100%;*/ height:160px; padding:0 15px; background-color:#fff !important; border-top:0 !Important;text-align:center;}
ol li.noDataItem p, ul li.noDataItem p {/*display:table-cell;*/ width:100%;padding-top:56px; line-height:16px; vertical-align:middle; text-align:center; font-weight:700; font-size:16px; background-color:#fff !important;}
p.pPoint em {margin:0 2.5px 0 1px; font-size:14px;}
.boardLstSum td p.pPoint span.fnum em {font-size:14px !important;}
#settle30Card tr.borderBold + tr td {padding-bottom:10px !important;}
#settle30Card tr td:first-child {padding-top:0 !important;}
#defaultAddr + tbody + tbody tr td {padding-bottom:15px;}
#defaultAddr + tbody + tbody tr td:first-child {padding-top:0 !important;}



/* ȸ�� �� */
.listTabGray {overflow:hidden; /*border:1px solid #e9ecef;*/ border-left:1px solid #e9ecef; border-right:1px solid #e9ecef;}
.listTabGray.threeSet {text-align:center;}
.listTabGray li {float:left; border:1px solid #e9ecef; border-left:0; border-right:0; background-color:#fff;}
.listTabGray li:first-child {}
.listTabGray li:nth-child(2) {border-left:1px solid #e9ecef; border-right:1px solid #e9ecef;}
.listTabGray.threeSet li {width:33.33%;}
.listTabGray li a {display:inline-block; width:100%; padding:9px 0; line-height:15px; color:#a3a3a3;}
.listTabGray li a span {display:inline-block; font-size:14px; line-height:14px; font-family:'roboto';}
.listTabGray li.on {background-color:#565a5c; border:1px solid #565a5c;}
.listTabGray li.on a {line-height:15px; color:#fff;}

/* ���ǳ��� ����Ʈ */
.qusetionList01 {padding:0 15px; background-color:#fff;}
.qusetionList01 li {overflow:hidden; padding:20px 0;  border-top:1px solid #e9ecef; background-color:#fff;}
.qusetionList01 li:first-child {border-top:0;}
.qusetionList01 li.active {margin:0 -15px; padding:20px 15px; border-bottom:1px solid #e9ecef; background-color:#f9fafb;}
.qusetionList01 li.active + li {border-top:0;}
.qusetionList01 li > strong {float:left;width:65px; text-align:center; font-size:12px; font-weight:400; color:#565a5c;}
.qusetionList01 li > strong.compl {color:#ed2004;}
.qusetionList01 li > strong.lock {padding-bottom:25px; background:url('../images/cm/icon/icon_lock01.png') no-repeat center 18px; background-size:16px 20.5px;}
.qusetionList01 li a {float:left; width:77%; padding-left:10px;}
.qusetionList01 li a .qTit {display:block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px;}
.qusetionList01 li a .qSolt {display:block; margin:5px 0;}
.qusetionList01 li a .qInfo {color:#a3a3a3;}
.qusetionList01 li a .qInfo span {display:inline-block; padding-left:16px; background:url('../images/cm/bg/bullet_question_list.png') no-repeat 6px center; background-size:1px 8px; letter-spacing:-0;}
.qusetionList01 li a .qInfo span:first-child {padding-left:0; background:none;}
.qusetionList01 li .orderChkList.detail {clear:both; padding:20px 0 0 0; background-color:transparent;}
.qusetionList01 li .orderChkList.detail li {padding:0; text-align:left;}
.qusetionList01 li .orderChkList.detail li .info {padding:10px;}
.qusetionList01 li .orderChkList.detail li .info .detail p.prod {font-size:14px;}
.qusetionList01 li .orderChkList.detail li .info .detail ul li {border:0; margin-top:5px; }
.qusetionList01 li .orderChkList.detail li .info .detail ul li:first-child {margin-top:0;}
.orderChkList.detail li .info .detail ul li.price strong {width:100%; text-align:left; font-size:14px; font-weight:700; color:#000; font-family:'roboto';}
.orderChkList.detail li .info .detail ul li.price strong.counsel{font-size:12px;line-height:15px;}
.orderChkList.detail li .info .detail ul li.price strong em {font-size:12px; font-family:'notokr'; font-weight:400;}
.orderChkList.detail li .info .detail ul li.sms {margin-top:5px; color:#ed2004; letter-spacing:0;}
.orderChkList.detail li .info .detail ul li.sms span {margin-left:0; }
.orderChkList.detail li .btnArea {overflow:hidden; padding:0;}
.orderChkList.detail li .btnArea .btnOrderC {}
.orderChkList.detail li .btnArea .btnOrderC .btnNotice {display:inline-block; padding-left:17px; line-height:16px; background:url('../images/cm/bg/bg_btn_notice.png') no-repeat 0 center; background-size:15px 16px;}
.orderChkList.detail li .btnArea.twoSet {}
.orderChkList.detail li .btnArea.twoSet .btnOrderC {width:50%; float:left; border:0; border-top:1px solid #f4f4f4;border-left:1px solid #f4f4f4;}
.orderChkList.detail li .btnArea.twoSet .btnOrderC:first-child {border-left:0;}
.qusetionList01 li .hidden {display:none; text-align:center;}
.qusetionList01 li.active .hidden {display:block;}
.qusetionList01 li .hidden > p {margin-top:15px; line-height:18px; font-size:13px; text-align:left;}
.qusetionList01 li .hidden .btnArea {overflow:hidden; display:inline-block; padding-bottom:0; background-color:transparent;}
.qusetionList01 li .hidden .btnArea .btnOrderC {width:auto; height:30px; margin-left:5px; line-height:14px; padding:7px 10px; background-color:#fff;}
.qusetionList01 li .hidden .btnArea .btnOrderC:first-child {margin-left:0;}
.qusetionList01 li .hidden .borderBox01 {text-align:left; background-color:#fff;}
.qusetionList01 li .hidden .borderBox01 strong.red {font-size:13px;}
.qusetionList01 li .hidden .borderBox01 span.date {margin-left:10px; color:#a3a3a3; font-family:'roboto'; letter-spacing:0;}
.qusetionList01 li .hidden .borderBox01 p {word-break:keep-all;}

.myPageWrap .boardOrderWrite tbody tr td .btnArea {padding:15px 0 0 0;}
.myPageWrap .boardOrderWrite tbody tr td .btnArea .btnOrderC {width:100% !important;}
.myPageWrap .boardOrderWrite tbody tr td .btnArea .btnOrderC {height:40px; padding:12px 10px; line-height:14px;}
.myPageWrap .boardOrderWrite tbody tr td .btnArea .btnOrderC .btnMore {display:inline-block; height:100%; vertical-align:top; padding-left:13px; font-size:14px; background:url('../images/cm/btn/btn_link_plus.png') no-repeat 0 2px ;background-size:9px 9px;}

.twoDataWrap {overflow:hidden;}
.twoDataWrap input {float:left; border:0;}
.twoDataWrap input[type="text"] {width:35%;border:0; background-color:#f9fafb; font-weight:700;}
.twoDataWrap input[type="tel"] {width:65%; border:0; background-color:#f9fafb; font-weight:700;}
.twoDataWrap input[type="text"]:disabled {border:0 !important;}
.twoDataWrap input[type="tel"]:disabled {border:0 !important;}

.boardOrderWrite table tbody tr td .emailInputForm span.at {float:left;}
.boardOrderWrite table tbody tr td .emailInputForm input[type="text"] {float:left !important;}
.boardOrderWrite table tbody tr td .callInputForm {/*position:relative;*/ text-align:right;}
.boardOrderWrite h3, .boardOrderView h3 {border-top:1px solid #e1e4e7;}
.boardOrderView td .pointForm {position:relative; width:125px; float:right;}
.boardOrderView td .pointForm .btnQuestion {position:absolute; top:50%; left:0px; margin-top:-7.5px;}
.boardOrderView td .pointForm em {display:inline-block; height:42px; line-height:44px;float:right;margin-left:3px;}
.boardOrderWrite table tbody tr td .adrInputForm input[type="tel"] {float:left;/*margin-left:20px;*/text-align:left;}

/* ���ǳ��� ����Ʈ */
/* ���� */

/* �ֹ����� */
	/* �ּҷ� ���̾� �˾� */
	.popAdrList {position:relative;}
	.popAdrList .info {overflow:hidden;}
	.popAdrList .info .fnum {float:left; width:100%; letter-spacing:0;}
	.popAdrList .info .fnum span {letter-spacing:0;}
	.popAdrList .info .location {float:left; width:100%; margin-bottom:5px;}
	.popAdrList .info > span {display:block; clear:both;}
	.popAdrList .btnArea {position:absolute; top:20px; right:15px; width:60px; text-align:right;}
	.popAdrList .btnArea .btnOrderC {width:40px; height:23px; padding:3px 0; line-height:15px;}
	.popAdrList .btnArea .btnOrderC:first-child {margin-bottom:5px;}
	/* �ּҷ� ���̾� �˾� */
/* �ֹ����� */

/*2018-01-26 청구할인*/
.settle30Card_tb th{border-top:none !important; text-align:center; font-weight:bold !important; border-bottom:1px solid #e1e4e7;}
.settle30Card_tb td{ border-bottom:1px solid #e1e4e7; }
.settle30Card_tb tr td:nth-child(2) {padding:10px 10px 10px 5px !important;}
.settle30Card_tb .settle30Card_tit {padding:10px !important; text-align:center;} /*2018-02-21 수정*/
.settle30Card_tb .settle30Card_tit + td {text-align:center;} /*2018-02-21 추가*/
.settle30Card_tb tr:last-child td {border-bottom:none;}
 
/*2018-01-26 청구할인*/


@media (max-width:320px) {
	.orderAdminList li a .bg {font-size: 11px;}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList li {font-size:11px}
}