@charset "utf-8";

/* 전체유의사항 */
.evtNote {padding:60px 0;text-align:left;background:#444;}
.evtNote .evtNoteIn {max-width:1000px;margin:0 auto;}
.evtNote .evtNoteTit {display:inline-block;padding:0 14px;margin-bottom:8px;font-size:22px;line-height:38px;color:#fff;border:1px solid #959595;border-radius:20px;}
.evtNote .evtNoteCon,
.evtNote .evtNoteCon * {font-family:'notoL' !important;font-size:17px !important;line-height:30px !important;color:#fff}
.evtNote .evtNoteCon b {font-family:'notoM' !important;}
@media all and (max-device-width:770px) {
	.evtNote {padding:3rem 0 3.5rem;}
	.evtNote .evtNoteIn {width:32rem;}
	.evtNote .evtNoteTit {padding:0 0.8rem;margin-bottom:0.5rem;font-size:1.2rem;line-height:2rem;border:0.1rem solid #959595;border-radius:2.2rem;}
	.evtNote .evtNoteCon,
	.evtNote .evtNoteCon * {font-family:'notoR' !important;font-size:1rem !important;line-height:1.8rem !important;}
}