@charset "utf-8";

.khome .tvshop .product_thumb{position: relative; }
.khome .tvshop .product_thumb .play{position:absolute;top:50%; left:50%; width:60px; height:60px; text-indent: -999999px;background: url(../images/main/khome/btn_vodplay.png) no-repeat center 50%;background-size:47px auto; margin-left:-30px; margin-top:-25px; z-index:101;}
.khome .tvshop .product_thumb a.prodLink{display: block;height: 100%;}
.khome .tvshop .product_thumb a.prodLink::after{content: '';top:0;left:0;position:absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.25);z-index: 100;}
.khome .tvshop .product_thumb .prodTime{overflow: hidden;position: absolute;left: 12px;top: 10px;z-index: 105;font-size: 13px;}
.khome .tvshop .product_thumb .prodTime .timer{position: relative; overflow: hidden; display: inline-block;width: 62px;height: 23px;padding-top:6px;border-radius: 15px;background-color: #e40012;color: #fff;font-weight: bold;text-align: center;}
.khome .tvshop .product_thumb .prodTime .timeRemain{overflow:hidden;display: inline-block;margin-left:-16px;height: 23px;padding:6px 10px 0 22px;color:#fff;border-radius:15px;background:rgba(0,0,0, .4);}
.khome .tvshop .product_info{position: relative;padding-bottom: 10px;padding-top:10px; min-height: 80px;background-color: #fff;}
.khome .tvshop .product_info a{display: block;padding-left:12px}
.khome .tvshop .product_info .priceWrap span{display: inline-block;margin-top:10px;font-family: roboto;line-height: 25px;letter-spacing: -1px;font-size: 19px;}
.khome .tvshop .product_info .priceWrap span.price{font-size: 25px;font-weight: 600; color:#000;margin-right: 2px;}
.khome .tvshop .product_info .priceWrap span.price.consult{font-size: 23px;}
.khome .tvshop .product_info .priceWrap span.price em{font-size: 19px;}
.khome .tvshop .product_info .priceWrap span.priceReal{color:#9a9a9a;text-decoration: line-through;font-weight: lighter}
.khome .tvshop .product_info .infoTxt{width:81%;font-size:16px;font-weight: bold;margin-top:8px;margin-left: 44px;letter-spacing: -1px;}
.khome .tvshop .product_info .infoTxt > span{margin:-17px 0 0 0;}
.khome .tvshop .product_info .infoTxt em{color:#ED2024;text-indent: -44px;display: inline-block;}
.khome .tvshop .product_thumb .flagPos{position: absolute;right: 8px;top:10px; z-index: 1001;}
.khome .tvshop .product_thumb .flag{position: relative;display: inline-block;width: 50px;height: 26px;background: #fe305b;padding-top: 3px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .tvshop .product_thumb .flag::after{content: '';position: absolute;left: 0px;top: 26px;border-top: 12px solid #fe305b;border-right: 25px solid transparent;border-bottom: 25px solid transparent;border-left: 25px solid transparent;}
.khome .tvshop .product_thumb .flag:last-child{margin-left:0px}
.khome .tvshop .product_thumb .flag_2{position: relative;display: inline-block;width: 50px;height: 26px;background-color: #a430fe;padding-top: 3px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .tvshop .product_thumb .flag_2::after{content: '';position: absolute;left: 0px;top: 26px;border-top: 12px solid #a430fe;border-right: 25px solid transparent;border-bottom: 25px solid transparent;border-left: 25px solid transparent;}

.khome ul.tvnorder{display: table;width: 100%}
.khome ul.tvnorder li{display: table-cell}
.khome ul.tvnorder li a{display: block;height: 44px;line-height: 46px;text-align: center;font-size: 16px;}
.khome ul.tvnorder li:nth-child(1){width: 44%;color: #6f6f6f;background: #ededed}
.khome ul.tvnorder li:last-child{width:auto;color: #fff;background: #e40012}
.khome ul.tvnorder li span{height: 15px;background: #ededed url(../images/main/khome/ic_clock.png) no-repeat left;background-size: 15px auto;padding-left: 20px;}

.khome .mainBanner{position: relative;padding: 10px 12px;background: #ced2d6;border-top: 1px solid #e1e1e1;}
.khome .mainBanner .count {
    position:absolute; top: 47%; right:0; background: rgba(0,0,0,0.6); padding:11px 3px; border-radius: 6px 0 0 6px;
    width:34px;text-align: center;font-size:10px;color:#fff;z-index: 101;
}
.khome .mainBanner .count span{padding: 0 0px;}
.khome .mainBanner .count .bar{font-size:11px}

.khome .onairProd a.btn{position: relative; display:block;padding:14px 0 14px 0;text-align: center;font-size: 16px;color: #454545;background:#f9f9f9;border-top:1px solid #e1e1e1;}
.khome .onairProd a.btn i{position: absolute;top:11px;right: 10%;transition: all 0.5s;}
.khome .onairProd i {border: solid #454545;border-width: 0 1px 1px 0;display: inline-block;padding: 6px;}
.khome .onairProd i.down {transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.khome .onairProd .onairSubProd{transition: opacity 1s ease-out;opacity: 0; height: 0; overflow: hidden;  }
.khome .onairProd.active .onairSubProd{opacity: 1; height: auto; }
.khome .onairProd.active a.btn{margin-left:0}
.khome .onairProd.active a.btn i{top:18px;transform: rotate(-135deg);transition: all 0.5s;}

.khome .tv-plus{position: relative;background: #fff; }
.khome .tv-plus .prodTime{z-index: 105;font-size: 13px; padding: 12px 0 0px 12px}
.khome .tv-plus .prodTime .timer{position: relative; overflow: hidden; display: inline-block;width: 70px;height: 23px;padding-top: 5px; border-radius: 15px;background-color: #e40012;color: #fff;font-weight: bold;text-align: center;}
.khome .tv-plus .prodTime .timeRemain{overflow:hidden;display: inline-block;margin-left:-16px;height: 23px;padding:5px 10px 0 22px;color:#fff;border-radius:15px;background:rgba(0,0,0, .4);}
.khome .tv-plus ul.prod{padding: 10px 12px 12px 12px;}
.khome .tv-plus ul.prod > li{display: table-cell;}
.khome .tv-plus ul.prod > li.thumb{width:43.5%;}
.khome .tv-plus li.thumb{position: relative; }
.khome .tv-plus li.thumb .play{position:absolute;top:0; left:0; width:100%; height:100%; text-indent: -999999px;background: url(../images/main/khome/tvplus_vod.png) no-repeat center 50%;background-size:contain; z-index:101;}
.khome .tv-plus li.thumb a.prodLink{display: block;height: 100%;}

.khome .tv-plus li.product_info{position: relative;vertical-align: top; padding: 0 0 0 15px;}
.khome .tv-plus li.product_info > a{display: block}
.khome .tv-plus li.product_info .infoTxt{margin:0px 0 5px 0;vertical-align: top;font-size:16px;letter-spacing: -1px;}
.khome .tv-plus li.product_info .infoTxt em{color:#ED2024;display: inline-block;}
.khome .tv-plus .flag_set{overflow: hidden;}
.khome .tv-plus .flag_set .flag{position: relative;display: inline-block;width: 21px;height: 18px;background: #fe305b;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .tv-plus .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #fe305b;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .tv-plus .flag_set .flag_2{position: relative;display: inline-block;width: 21px;height: 18px;background: #a430fe;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .tv-plus .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #a430fe;border-right: 10px solid transparent;border-bottom: 11px solid transparent;border-left: 11px solid transparent;}
.khome .tv-plus .flag_set .flag_3{position: relative;display: inline-block;width: 21px;height: 18px;background: #2acaff;padding-top: 4px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .tv-plus .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2acaff;border-right: 10px solid transparent;border-bottom: 11px solid transparent;border-left: 11px solid transparent;}
.khome .tv-plus .flag_set .txt{margin-left: 0px;padding-top: 4px;font-size: 11px;}

.khome .tv-plus .productPrice{overflow:hidden;position: absolute;bottom: 3px;white-space:nowrap;font-family: roboto;}
.khome .tv-plus .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:25px;color:#ec2261;}
.khome .tv-plus .productPrice .priceDetail{position:relative;display:inline-block;padding-top:4px}
.khome .tv-plus .productPrice .priceDetail .basePrice{display:inline-block;font-size:18px;color:#999;margin-bottom: 6px;}
.khome .tv-plus .productPrice .priceDetail .basePrice span{font-size:16px}
.khome .tv-plus .productPrice .priceDetail .infoPrice{font-size:15px;color:#111;line-height:17px;vertical-align:-2px;}
.khome .tv-plus .productPrice .priceDetail .infoPrice strong{font-size:25px;letter-spacing: -1px;}
.khome .tv-plus .productPrice .priceDetail .infoPrice.consult strong{font-size:23px;}
.khome .tv-plus .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.khome .tv-plus .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:19px;font-weight: bold}

/* 201904 작은카드추가*/
.khome .tv-plus .prod-item.type_s ul.prod > li.thumb{width: 30.2%;}
.khome .tv-plus .prod-item.type_s ul.prod li.product_info .infoTxt{font-size: 13px;}
.khome .tv-plus .prod-item.type_s ul.prod li.product_info{padding-left:10px;}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail{padding-top:0}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail .infoPrice strong{font-size:16px;}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail .infoPrice{display: inline-block;}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail .basePrice{font-size:14px;vertical-align: -2px;}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail .infoPrice span{font-size: 14px}
.khome .tv-plus .prod-item.type_s .productPrice .priceDetail .basePrice span{font-size:12px}

.khome .tv-plus .prod-item.type_s .productPrice{position: relative;bottom: initial;overflow: hidden;}
.khome .tv-plus .prod-item.type_s .productPrice .discountRate{font-size: 16px; float: left; margin-top: 2px; letter-spacing: -2px; margin-right: 10px;}
.khome .tv-plus .prod-item.type_s .btn_baro{position: absolute;bottom:0;right: 0;width:100px;height:35px;line-height: 37px;color: #fff;background: #e40012;font-size:14px;text-align: center;display: block}


.khome .hot-new{overflow: hidden;}
.khome .hot-new:before{content: ''; display: block;border-top: 1px solid #d5d5d5;margin-bottom: 7px;height:1px;overflow: hidden;}
.khome .best .hot-new:before{display:none;}
#areaBest .hot-new:before{display:none}
.khome .hot-new .productWide{margin-bottom: 8px;}
.khome .hot-new .productWide li{margin-bottom:8px}
.khome .hot-new .productWide .prodImg{position: relative;}
.khome .hot-new .productWide .prodImg .play{ width: 20px; height: 20px; position: absolute; bottom: 0; left: 0; background: url(../images/cm/btn/btn_play.png); border: solid 1px rgba(255,255,255,0.5); background-size: 100%;}
.khome .hot-new .productWide .prodImg .ico{ position: absolute; bottom: 10px; right: 10px;}
.khome .hot-new .productWide .prodImg .playBtn2{z-index:110}
.khome .hot-new h3.tit{background: #fff;color: #38444d;font-size: 18px; padding: 15px;}
.khome .hot-new .prodInfo{position: relative;min-height: 72px;vertical-align: top; padding: 0 4px 0 12px;background: #fff}
.khome .hot-new .prodInfo > a{display: block}
.khome .hot-new .prodInfo .infoTxt{padding: 7px 0 11px 0;padding-bottom: 11px;vertical-align: top;font-size:16px;letter-spacing: -1px;}
.khome .hot-new .prodInfo .infoTxt em{color:#ED2024;display: inline-block;}
.khome .hot-new .prodInfo .priceWrap .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:24px;color:#ec2261;}
.khome .hot-new .prodInfo .priceWrap .discountRate span{font-size:24px}
.khome .hot-new .prodInfo .priceWrap span{display: inline-block;font-family: roboto;line-height: 24px;letter-spacing: -1px;font-size: 19px;}
.khome .hot-new .prodInfo .priceWrap span.price{font-size: 24px;font-weight: 600; color:#000;margin-right: 2px;}
.khome .hot-new .prodInfo .priceWrap span.price em{font-size: 19px;}
.khome .hot-new .prodInfo .priceWrap span.priceReal{color:#9a9a9a;text-decoration: line-through;font-weight: lighter}
.khome .hot-new .flag_wrap{ padding: 9px 0 12px 12px;;background: #fff;border: 1px solid #e1e1e1;border-width: 1px 0;}
.khome .hot-new .flag_set{overflow: hidden;}
.khome .hot-new .flag_set .flag{position: relative;display: inline-block;width: 21px;height: 18px;background: #fe305b;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .hot-new .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #fe305b;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .hot-new .flag_set .flag_2{position: relative;display: inline-block;width: 21px;height: 18px;background: #a430fe;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .hot-new .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #a430fe;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .hot-new .flag_set .flag_3{position: relative;display: inline-block;width: 21px;height: 18px;background: #2acaff;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .hot-new .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2acaff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .hot-new .flag_set .flag_4{position: relative;display: inline-block;width: 21px;height: 18px;background: #2a9dff;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .hot-new .flag_set .flag_4::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2a9dff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .hot-new .flag_set .flag_5{position: relative;display: inline-block;width: 21px;height: 18px;background: #53bfae;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.khome .hot-new .flag_set .flag_5::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #53bfae;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.khome .hot-new .flag_set .txt{margin:0 3px 0 -1px;padding-top: 3px;font-size: 11px;}
.khome .hot-new .flag_set_best{position: absolute;left:-4px;top:-8px; }
.khome .hot-new .flag_set_best .flag{position: relative;display: inline-block;width: 32px;height: 27px;background: #e40012;padding-top: 5px;line-height: 12px;font-size: 14px;text-align: center;color: #fff;}
.khome .hot-new .flag_set_best .flag em{font-size: 10px;margin-top: 0px;display: block}
.khome .hot-new .flag_set_best .flag::after{content: '';position: absolute;left: 0px;top: 27px;border-top: 11px solid #e40012;border-right: 16px solid transparent;border-bottom: 0px solid transparent;border-left: 16px solid transparent;}
.khome .hot-new .flag_set_best_other{position: absolute;left:-4px;top:-8px; }
.khome .hot-new .flag_set_best_other .flag{position: relative;display: inline-block;width: 32px;height: 27px;background: #434343;padding-top: 5px;line-height: 12px;font-size: 14px;text-align: center;color: #fff;}
.khome .hot-new .flag_set_best_other .flag em{font-size: 10px;margin-top: 0px;display: block}
.khome .hot-new .flag_set_best_other .flag::after{content: '';position: absolute;left: 0px;top: 27px;border-top: 11px solid #434343;border-right: 16px solid transparent;border-bottom: 0px solid transparent;border-left: 16px solid transparent;}

.khome .hot-new .productSm{background: #fff;margin-bottom: 7px}
.khome .hot-new ul.prod{padding: 10px 12px 12px 12px;}
.khome .hot-new ul.prod > li{display: table-cell;}
.khome .hot-new ul.prod > li.thumb{width:145px;height: 145px;}
.khome .hot-new li.thumb{position: relative; }
.khome .hot-new li.thumb .play2{position:absolute;top:0; left:0; width:100%; height:100%; text-indent: -999999px;background: url(../images/main/khome/tvplus_vod.png) no-repeat center 50%;background-size:contain; z-index:101;}
.khome .hot-new li.thumb .play3 {position: absolute; left:0px; bottom:0px; width:100%; height:100%; text-indent: -9999px; background: url(http://static.kshop.co.kr/mc/images/cm/btn/btn_play03.png) no-repeat; background-size: 30px;background-position: left 5px bottom 5px;}
.khome .hot-new li.thumb a.prodLink{display: block;height: 100%;}
.khome .hot-new li.product_info{position: relative;vertical-align: top; padding: 0 0 0 17px;}
.khome .hot-new li.product_info > a{display: block}
.khome .hot-new li.product_info .infoTxt{margin:-1px 0 13px 0;vertical-align: top;font-size:16px;letter-spacing: -1px;}
.khome .hot-new li.product_info .infoTxt em{color:#ED2024;display: inline-block;}
.khome .hot-new .productPrice{overflow:hidden;position: absolute;bottom: 3px;white-space:nowrap;font-family: roboto;}
.khome .hot-new .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:25px;color:#ec2261;}
.khome .hot-new .productPrice .priceDetail{position:relative;display:inline-block; padding-top: 2px;}
.khome .hot-new .productPrice .priceDetail .basePrice{display:inline-block;font-size:18px;color:#999;margin-bottom: 8px;}
.khome .hot-new .productPrice .priceDetail .basePrice span{font-size:16px}
.khome .hot-new .productPrice .priceDetail .infoPrice{font-size:15px;color:#111;line-height:17px;vertical-align:-2px;}
.khome .hot-new .productPrice .priceDetail .infoPrice strong{font-size:25px;letter-spacing: -1px;}
.khome .hot-new .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.khome .hot-new .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:19px;font-weight: bold}
.khome .hot-new .productSm .flag_wrap{padding: 9px 0 12px 12px;border: 1px solid #e1e1e1;border-width: 1px 0;}

/* 카드형2종 추가*/
.typeList .productSm{background: #fff;margin-bottom: 7px}
.typeList .productSm ul.prod{padding: 10px 12px 12px 12px;}
.typeList .productSm ul.prod > li{display: table-cell;}
.typeList .productSm ul.prod > li.thumb{width:145px;height: 145px;}
.typeList .productSm ul.prod li.thumb{position: relative; }
.typeList .productSm ul.prod li.thumb .play2{position:absolute;top:0; left:0; width:100%; height:100%; text-indent: -999999px;background: url(../images/main/khome/tvplus_vod.png) no-repeat center 50%;background-size:contain; z-index:101;}
.typeList .productSm ul.prod li.thumb .play3 {position: absolute; left:0px; bottom:0px; width:100%; height:100%; text-indent: -9999px; background: url(http://static.kshop.co.kr/mc/images/cm/btn/btn_play03.png) no-repeat; background-size: 30px;background-position: left 5px bottom 5px;}
.typeList .productSm ul.prod li.thumb a.prodLink{display: block;height: 100%;}
.typeList .productSm ul.prod li.product_info{position: relative;vertical-align: top; padding: 0 0 0 17px;}
.typeList .productSm ul.prod li.product_info > a{display: block}
.typeList .productSm ul.prod li.product_info .infoTxt{margin:-1px 0 13px 0;vertical-align: top;font-size:16px;letter-spacing: -1px;}
.typeList .productSm ul.prod li.product_info .infoTxt em{color:#ED2024;display: inline-block;}
.typeList .productSm .productPrice{overflow:hidden;position: absolute;bottom: 3px;white-space:nowrap;font-family: roboto;}
.typeList .productSm .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:25px;color:#ec2261;}
.typeList .productSm .productPrice .priceDetail{position:relative;display:inline-block; padding-top: 3px;}
.typeList .productSm .productPrice .priceDetail .basePrice{display:inline-block;font-size:18px;color:#999;margin-bottom: 8px;}
.typeList .productSm .productPrice .priceDetail .basePrice span{font-size:16px}
.typeList .productSm .productPrice .priceDetail .infoPrice{font-size:15px;color:#111;line-height:17px;vertical-align:-2px;}
.typeList .productSm .productPrice .priceDetail .infoPrice strong{font-size:25px;letter-spacing: -1px;}
.typeList .productSm .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.typeList .productSm .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:19px;font-weight: bold}
.typeList .productSm .productSm .flag_wrap{padding:12px 0 15px 12px;border: 1px solid #e1e1e1;}

.typeCard{overflow: hidden;}
.typeCard #go_main{margin:0 3px}
.typeCard .productSm{width:50%;float: left;background-color: transparent !important;margin-bottom: 7px;overflow: hidden;}
.typeCard .productSm .prod-item{margin: 0 3px 0 4px;}
.typeCard .productSm ul.prod{padding: 0;}
.typeCard .productSm ul.prod > li{display: block;}
.typeCard .productSm ul.prod > li.thumb{width:100% !important;height:auto !important;min-height: 140px}
.typeCard .productSm ul.prod li.thumb{position: relative; }
.typeCard .productSm ul.prod li.thumb .play2{position:absolute;top:0; left:0; width:100%; height:100%; text-indent: -999999px;background: url(../images/main/khome/tvplus_vod.png) no-repeat center 50%;background-size:contain; z-index:101;}
.typeCard .productSm ul.prod li.thumb .play3 {position: absolute; left:0px; bottom:0px; width:100%; height:100%; text-indent: -9999px; background: url(http://static.kshop.co.kr/mc/images/cm/btn/btn_play03.png) no-repeat; background-size: 30px;background-position: left 5px bottom 5px;}
.typeCard .productSm ul.prod li.thumb a.prodLink{display: block;height: 100%;}
.typeCard .productSm ul.prod li.product_info{position: relative;vertical-align: top;height: 112px;background: #fff;margin-bottom:2px;padding:0}
.typeCard .productSm ul.prod li.product_info > a{display: block}
.typeCard .productSm ul.prod li.product_info .infoTxt{margin: 0px 5px 13px 5px;padding-top: 4px;vertical-align: top;font-size:15px;letter-spacing: -1px;}
.typeCard .productSm ul.prod li.product_info .infoTxt em{color:#ED2024;display: inline-block;}

.typeCard .productSm .productPrice{overflow:hidden;position: absolute;bottom: 3px;white-space:nowrap;font-family: roboto;margin-left: 5px;}
.typeCard .productSm .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:24px;color:#ec2261;}
.typeCard .productSm .productPrice .priceDetail{position:relative;display:inline-block; padding-top: 3px;}
.typeCard .productSm .productPrice .priceDetail .basePrice{display:inline-block;font-size:17px;color:#999;margin-bottom: 5px;}
.typeCard .productSm .productPrice .priceDetail .basePrice span{font-size:15px}
.typeCard .productSm .productPrice .priceDetail .infoPrice{color:#111;line-height:17px;vertical-align:-2px;}
.typeCard .productSm .productPrice .priceDetail .infoPrice strong{font-size:23px;letter-spacing: -1px;}
.typeCard .productSm .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.typeCard .productSm .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:18px;font-weight: bold}
.typeCard .productSm .flag_wrap{background: #fff;overflow: hidden;padding: 5px 0px 8px 5px !important;min-height: 61px;border:none !important}
.typeCard .productSm .flag_set{width: 48%;display: inline-block;}
.typeCard .productSm .flag_set .flag{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #fe305b;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.typeCard .productSm .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #fe305b;border-right: 5px solid transparent;border-bottom: 0px solid transparent;border-left: 5px solid transparent;}
.typeCard .productSm .flag_set .flag_2{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #a430fe;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.typeCard .productSm .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #a430fe;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.typeCard .productSm .flag_set .flag_3{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2acaff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.typeCard .productSm .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2acaff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.typeCard .productSm .flag_set .flag_4{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2a9dff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.typeCard .productSm .flag_set .flag_4::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2a9dff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.typeCard .productSm .flag_set .flag_5{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #53bfae;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.typeCard .productSm .flag_set .flag_5::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #53bfae;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.typeCard .productSm .flag_set .txt{margin:0 0px 0 0px;font-size: 11px;letter-spacing: -1px;}

.khome .two-card{padding: 0px 3px;overflow: hidden;}
.khome .two-card > ul{overflow: hidden;}
.khome .two-card > ul > li{width:50%;float: left;margin-bottom: 7px}
.khome .two-card .item{margin: 0 4px 0 4px;}
.khome .two-card ul.prod > li.thumb{width:100%;overflow: hidden;}
.khome .two-card li.thumb{position: relative; }
.khome .two-card li.thumb .play{position:absolute;top:0; left:0; width:100%; height:100%; text-indent: -999999px;background: url(../images/main/khome/tvplus_vod.png) no-repeat center 50%;background-size:contain; z-index:101;}
.khome .two-card li.thumb .playBtn2 {position: absolute; left:0px; bottom:0px; width:100%; height:100%; text-indent: -9999px; background: url(http://static.kshop.co.kr/mc/images/cm/btn/btn_play03.png) no-repeat; background-size: 30px;background-position: left 5px bottom 5px;}
.khome .two-card li.thumb a.prodLink{display: block;height: 100%;}
.khome .two-card li.product_info{position: relative;vertical-align: top;height: 112px;background: #fff;margin-bottom:2px}
.khome .two-card li.product_info > a{display: block}
.khome .two-card li.product_info .infoTxt{margin: 0px 5px 13px 5px;padding-top: 4px;vertical-align: top;font-size:16px;letter-spacing: -1px;}
.khome .two-card li.product_info .infoTxt em{color:#ED2024;display: inline-block;}
.khome .two-card .productPrice{overflow:hidden;position: absolute;bottom: 3px;white-space:nowrap;font-family: roboto;}
.khome .two-card .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:24px;color:#ec2261;margin-left:5px}
.khome .two-card .productPrice .priceDetail{position:relative;display:inline-block;}
.khome .two-card .productPrice .priceDetail .basePrice{display:inline-block;font-size:17px;color:#999;margin-bottom: 5px;}
.khome .two-card .productPrice .priceDetail .basePrice span{font-size:15px}
.khome .two-card .productPrice .priceDetail .infoPrice{color:#111;line-height:17px;vertical-align:-2px;}
.khome .two-card .productPrice .priceDetail .infoPrice strong{font-size:23px;letter-spacing: -1px;}
.khome .two-card .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.khome .two-card .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:18px;font-weight: bold}
.khome .two-card .productSm .flag_wrap{padding: 9px 0 12px 12px;;border: 1px solid #e1e1e1;}

.khome .two-card .flag_wrap{background: #fff;overflow: hidden;padding: 5px 0px 8px 5px;min-height: 61px}
.khome .two-card .flag_set{width: 48%;display: inline-block;}
.khome .two-card .flag_set .flag{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #fe305b;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .two-card .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #fe305b;border-right: 5px solid transparent;border-bottom: 0px solid transparent;border-left: 5px solid transparent;}
.khome .two-card .flag_set .flag_2{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #a430fe;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .two-card .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #a430fe;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.khome .two-card .flag_set .flag_3{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2acaff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .two-card .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2acaff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.khome .two-card .flag_set .flag_4{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2a9dff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .two-card .flag_set .flag_4::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2a9dff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.khome .two-card .flag_set .flag_5{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #53bfae;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
.khome .two-card .flag_set .flag_5::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #53bfae;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
.khome .two-card .flag_set .txt{margin:0 0px 0 1px;font-size: 10px;letter-spacing: -1px;}
.sort .style .btnStyle2{width: 22px; height: 22px; background: url(../images/cm/btn/btn_list_style.gif) top; background-size: 22px;}

/* S:brand-week */
.khome .customArea3{width:100%;/* height:335px; */overflow:hidden;padding-bottom:15px;margin-top: 8px;margin-bottom:8px;min-height: 320px;position: relative;padding-top: 42%;background-size:100% !important;border-bottom: 1px solid #e1e1e1;}
.khome .customArea3MoreBtn{width: 100%; height: 135px; display: block; position: absolute; top: 0; left: 0;}
.khome .brand-week{position:relative; margin-top:28px;}
.khome .brand-week .horizon {position:relative;/*width:1030px;*/height:120px;overflow:hidden;}
.khome .brand-week .horizon li{float:left; position: relative; margin:0 5px;padding: 15px 10px; background: #fff; border-radius: 5px;}
.khome .brand-week .horizon li:first-child {/*margin-left:15px;*/} 
.khome .brand-week .horizon li:last-child {/*margin-right:0px;*/}
.khome .brand-week .horizon li a {float:left; display:block;}
.khome .brand-week .horizon li .img{ display: block;  position: relative; float:left; width:90px;overflow: hidden;}
.khome .brand-week .horizon li .img:after{content:''; display: block; width:100%; /*height:100%;*/ }
.khome .brand-week .horizon li .play{ width:30px; height: 30px; position: absolute; bottom:15px; left: 12px; text-indent:-9999px; background: url(../images/cm/btn/btn_play3.png); background-size:100%;}
.khome .brand-week .horizon li .img .ico{position: absolute; bottom: 5px; right: 5px; padding:10px 9px;background:rgba(236,36,38,0.8);/* border:1px solid #e21f26;*/ font-family: 'roboto' ; height:30px; font-size:10px; line-height: 10px; font-weight: 700;color:#fff;}
.khome .brand-week .horizon li .txt{float:left; margin-left:8px;min-width:150px;max-width:170px; text-align: left;}
.khome .brand-week .horizon li .txt .tit a{color:#000;width:100%;font-size:13px; line-height: 13px; height:42px; max-height:42px; display:block; display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis} /* ?ì¤???ìŠ¤??ì¤?��?��???¤ì ??*/}
.khome .brand-week .horizon li .won {margin-top:5px; width:100%; height:30px; vertical-align: middle;}
.khome .brand-week .horizon li .won:after {display:block; content: ''; visibility: hidden;clear: both;}
.khome .brand-week .horizon li .txt .won span {display:block;}
.khome .brand-week .horizon li .txt .money {float:left; width:60%; height:30px;margin-top:-3px; vertical-align: middle;}
.khome .brand-week .horizon li .txt .money span {display:inline-block; font-size:17px;line-height: 17px;}
.khome .brand-week .horizon li .txt .benefit {display: block; margin-top:5px; font-size:10px;color:#565a5c; letter-spacing:0px}
.khome .brand-week .horizon li .txt .benefit .mcoupon {display:inline;color:#5674b9;width:auto; font-size:10px;height:18px;background:none;}
.khome .brand-week .horizon li .txt .sale {float:left; line-height:30px; padding-top:0; height:30px; margin-right:10px; font-size:33px; color:#e30613;}
.khome .brand-week .horizon li .won .sale em {font-size:14px; padding-left:2px;}
.khome .brand-week .horizon li .won .del {display:block; width:100%; color:rgba(0,0,0,0.5);}
.khome .brand-week .horizon li .won .del .num { font-size:12px !important; line-height: 12px;}
.khome .brand-week .horizon li .won .del em {font-size:10px; padding-left:0px; line-height: 10px;}
.khome .brand-week .horizon li .won .price {display:block; font-size:17px; line-height: 17px; font-weight:700;margin-top:0px;color:#000;padding-right:2px;}
.khome .brand-week .btnMore {position:absolute; top:22px; right:15px; padding-left:12px; font-size:12px; background:url(../images/main/btn_brand-weekmore.png) no-repeat left 3px; background-size: 9px;}

.khome .brand-week .horizon .productPrice{overflow:hidden;position: absolute;bottom: 15px;white-space:nowrap;font-family: roboto;}
.khome .brand-week .horizon .productPrice .discountRate{position:relative;display:inline-block;margin-right:5px;font-size:19px;color:#ec2261;margin-left:5px}
.khome .brand-week .horizon .productPrice .priceDetail{position:relative;display:inline-block;}
.khome .brand-week .horizon .productPrice .priceDetail .basePrice{display:inline-block;font-size:13px;color:#999;margin-bottom: 1px;}
.khome .brand-week .horizon .productPrice .priceDetail .basePrice span{font-size:11px}
.khome .brand-week .horizon .productPrice .priceDetail .infoPrice{color:#111;line-height:17px;vertical-align:-2px;}
.khome .brand-week .horizon .productPrice .priceDetail .infoPrice strong{font-size:19px;letter-spacing: -1px;}
.khome .brand-week .horizon .productPrice .priceDetail .infoPrice em{position:relative;top:-2px;display:inline-block;margin-left:7px;font-size:11px;color:#999;}
.khome .brand-week .horizon .productPrice .priceDetail .infoPrice span{position:relative;top:-1px;display:inline-block;font-size:15px;font-weight: bold}
.khome .brand-week .horizon .productSm .flag_wrap{padding: 9px 0 12px 12px;;border: 1px solid #e1e1e1;}

.khome .exhibition-Banner{margin-top: 8px;overflow: hidden;}
.khome .exhibition-Banner ul li{position: relative;overflow: hidden;margin-bottom: 7px}
.khome .exhibition-Banner ul li>a{width: 100%;height: 100%; }
.khome .exhibition-Banner ul li>a>div{position: absolute;top:50%;left: 0%;width: 100%; height: auto;transform: translateY(-50%);text-align: center;z-index: 103; }
.khome .exhibition-Banner ul li>a::after{content: '';top:0;left:0;position:absolute;width: 100%;height: 100%;background:rgba(0,0,0,0.4);z-index: 100;border-bottom: 1px solid #e1e1e1;}
.khome .exhibition-Banner ul li>a>div p{color:#fff}
.khome .exhibition-Banner ul li>a>div p:nth-child(1){font-size: 21px;letter-spacing: -1px;font-weight: bold}
.khome .exhibition-Banner ul li>a>div p:nth-child(2){font-size: 14px;margin:8px 0 12px 0; padding: 3px 6px;background:rgba(0,0,0,0.8);display: inline-block;}
.khome .exhibition-Banner ul li>a>div p:nth-child(3){font-size: 13px}

@media (min-width:321px) and (max-width:413px) {
	.khome .brand-week .horizon li .txt{/*width:50%;*/ }
	.khome .brand-week .horizon li .txt .sale {letter-spacing: -1px;}
}
@media (max-width:320px){
	.khome .brand-week .horizon li .txt{width:150px;}
	.khome .brand-week .horizon li .txt .sale {margin-right:5px;}
}
/* E:brand-week */


@media (max-width:360px) {
    .khome .tv-plus ul.prod{padding: 10px 12px 12px 8px;}
    .khome .tv-plus li.product_info{padding: 0 0 0 10px;}

    .khome .hot-new ul.prod {padding: 10px 12px 12px 8px;}
    .khome .hot-new ul.prod > li.thumb{width:120px;height: 120px;}
    .khome .hot-new li.product_info{padding: 0 0 0 10px;}
    .khome .hot-new .flag_set{margin-right: -4px;}

  
    .typeList .productSm ul.prod {padding: 10px 12px 12px 8px;}
    .typeList .productSm ul.prod > li.thumb{width:120px;height: 120px;}
    .typeList .productSm li.product_info{padding: 0 0 0 10px;}
    /* .typeList .productSm li.product_info .infoTxt{font-size:14px;} */
    .typeCard .productSm ul.prod{padding: 0;}


    .khome .two-card li.product_info{height: 90px;}
    .khome .two-card li.product_info .infoTxt{font-size:14px;}
    .khome .two-card .productSm .flag_wrap{padding:9px 0 12px 8px;border: 1px solid #e1e1e1;}
    .khome .two-card .productPrice .discountRate{font-size: 18px}
    .khome .two-card .productPrice .priceDetail .basePrice{font-size: 14px;margin-bottom: 3px;}
    .khome .two-card .productPrice .priceDetail .infoPrice strong{font-size: 18px;}
}


@media(max-width:320px){
    .khome .tvshop .product_info a{padding: 0 0 0 8px;}
    .khome .hot-new .prodInfo{padding: 0 4px 0 8px;}
    .khome .tvshop .product_info .priceWrap span{font-size: 15px;}
    .khome .tvshop .product_info .priceWrap span.price{font-size: 20px;}
    .khome .tvshop .product_info .priceWrap span.price em{font-size: 15px;}

    .khome .hot-new .flag_wrap{padding: 9x 0 12px 8px;}
    .khome .hot-new .flag_set .flag{position: relative;display: inline-block;width: 21px;height: 18px;background: #fe305b;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
    .khome .hot-new .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #fe305b;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
    .khome .hot-new .flag_set .flag_2{position: relative;display: inline-block;width: 21px;height: 18px;background: #a430fe;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
    .khome .hot-new .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #a430fe;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
    .khome .hot-new .flag_set .flag_3{position: relative;display: inline-block;width: 21px;height: 18px;background: #2acaff;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
    .khome .hot-new .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2acaff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
    .khome .hot-new .flag_set .flag_4{position: relative;display: inline-block;width: 21px;height: 18px;background: #2a9dff;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
    .khome .hot-new .flag_set .flag_4::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2a9dff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
    .khome .hot-new .flag_set .flag_5{position: relative;display: inline-block;width: 21px;height: 18px;background: #53bfae;padding-top: 4px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
    .khome .hot-new .flag_set .flag_5::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #53bfae;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
    .khome .hot-new .flag_set .txt{margin:0 -3px 0 -2px;padding-top: 3px;font-size: 10px;}

    .khome .onairProd a.btn i{right: 5%}
    .khome .tv-plus ul.prod{padding: 10px 12px 12px 8px;}
    .khome .tv-plus li.product_info{padding: 0 0 0 10px;}
    /* .khome .tv-plus li.product_info .infoTxt{font-size:14px;} */
    .khome .tv-plus .flag_set .txt{margin-left: -4px;padding-top: 3px;font-size: 10px;}

    .typeCard .productSm .flag_wrap{background: #fff;overflow: hidden;padding: 5px 0px 8px 5px !important;min-height: 61px;border:none !important}
    .typeCard .productSm .flag_set{width: 48%;display: inline-block;}
    .typeCard .productSm .flag_set .flag{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #fe305b;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
    .typeCard .productSm .flag_set .flag::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #fe305b;border-right: 5px solid transparent;border-bottom: 0px solid transparent;border-left: 5px solid transparent;}
    .typeCard .productSm .flag_set .flag_2{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #a430fe;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
    .typeCard .productSm .flag_set .flag_2::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #a430fe;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
    .typeCard .productSm .flag_set .flag_3{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2acaff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
    .typeCard .productSm .flag_set .flag_3::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2acaff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
    .typeCard .productSm .flag_set .flag_4{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #2a9dff;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
    .typeCard .productSm .flag_set .flag_4::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #2a9dff;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
    .typeCard .productSm .flag_set .flag_5{margin-right: -2px;vertical-align: 2px;position: relative;display: inline-block;width: 10px;height: 7px;background: #53bfae;padding-top: 0px;line-height: 12px;font-size: 10px;text-align: center;color: #fff;}
    .typeCard .productSm .flag_set .flag_5::after{content: '';position: absolute;left: 0px;top: 7px;border-top: 5px solid #53bfae;border-right: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}
    .typeCard .productSm .flag_set .txt{margin:0 0px 0 -1px;font-size: 10px;letter-spacing: -1px;}
}

@media (min-width:414px) {
    .khome .two-card .flag_set .txt{margin:0 6px 0 1px;}
}



