@charset "utf-8";


/* common.css */

.menu .slide li a{font-size:16px !important;}

h1, h2, h3, h4, h5, h6{margin:0;font-size:1.15rem !important;}

input[type=radio] + label{padding: 2px 0 0 25px !important;font-size: 14px !important;}
select{ font-size: 14px;}
.btnSelect{font-size: 14px !important;}


.wideConBox .dl dd{font-size:14px !important;}
.wideConBox2{font-size:14px !important;}
.bottomBtnBase a{font-size: 16px !important;}
.gap1{font-size:14px !important;}
.dd90 dd{padding-left:100px}
.buyingBTM a{ font-size: 16px !important; }
.btnBuying a {font-size: 16px !important;}
.pName2 {font-size:15px !important;}
.tabStyle li a{ font-size:14px !important;}
.tabStyle li.active a{font-size:14px !important;}
.tabStyle4 a{ font-size: 14px !important; }
.tab2{  font-size: 16px !important; } 
.wideBtn{font-size: 14px !important;}
.btnWideRed{ font-size: 16px !important;}
.btnRedLine3{ font-size: 14px !important; }
.btnGray3{  font-size: 16px !important; }
input.guideInput{font-size:16px !important;}
.categoryArea .category li{  font-size: 14px !important;}
.secondTit h2{font-size: 14px !important;}
.tbVerti{ font-size: 13px !important; }
.footer{background: #e9ecef !important;}
.footer .utilMenu{padding: 12px 4px 6px 7px !important;border-top: 1px solid #ddd;background: #e9ecef !important;}
.footer .utilMenu a{font-size: 13px !important;padding-left: 8px !important;padding-right: 8px !important;}
.footer{font-size: 12px !important;}
.goodsPoint .rightLine{background-size: 1px 18px !important;   background-position-y: 1px !important;}
@media (max-width:320px) {
	.footer .utilMenu a{font-size:11px !important;}
	.tab2{font-size:12px !important;}
	.footer .favoriteMenu a{font-size:11px !important;}
	.tabStyle4 a{font-size:12px !important;}
}
.safety_info table{ font-size: 13px !important;  }

/* contents.css */
.grayBox02{font-size: 14px !important;}
.delAdrList p{font-size: 14px !important;}
.delAdrList dl dt{font-size: 14px !important;}
.delAdrList dl dd{font-size: 14px !important;}
.deal h2{font-size: 16px !important;}
.dashboard .grayArea ul{margin-left: 5px;margin-right: 5px;}
.listArea li .txtArea h2{font-size: 16px !important;}
.defaultInfo_price{font-size:22px !important;line-height: 22px;}
.defaultInfo_ori_price{padding-top: 32px;}
.help{vertical-align: middle}
.benefitArea{ font-size: 14px !important;    padding: 15px 15px 11px 15px;}
.benefitArea dd{margin-bottom: 10px;padding-bottom: 15px;}
.benefitArea_lb{padding-bottom: 10px;}
.benefitArea_bline dd:last-child{padding-bottom: 0}
.benefitArea .flag{position: relative;display: inline-block;width: 21px;height: 18px;background: #fe305b;padding-top: 5px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.benefitArea .flag::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #fe305b;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.benefitArea .flag_2{position: relative;display: inline-block;width: 21px;height: 18px;background: #a430fe;padding-top: 5px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.benefitArea .flag_2::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #a430fe;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.benefitArea .flag_3{position: relative;display: inline-block;width: 21px;height: 18px;background: #2acaff;padding-top: 5px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.benefitArea .flag_3::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2acaff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.benefitArea .flag_4{position: relative;display: inline-block;width: 21px;height: 18px;background: #2a9dff;padding-top: 5px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.benefitArea .flag_4::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #2a9dff;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.benefitArea .flag_5{position: relative;display: inline-block;width: 21px;height: 18px;background: #53bfae;padding-top: 5px;line-height: 12px;font-size: 11px;text-align: center;color: #fff;}
.benefitArea .flag_5::after{content: '';position: absolute;left: 0px;top: 18px;border-top: 6px solid #53bfae;border-right: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 11px solid transparent;}
.benefitArea .txt{margin:0 3px 0 -1px;padding-top: 3px;font-size: 11px;}

.deliverBackChange h2{font-size: 16px !important;}
.qnaList .row .stat{font-size: 14px !important;}
.qnaList .row .txt .tit{ font-size: 16px !important;}
.qnaList .row .txt .theme{ font-size: 14px !important;}
.goodsPoint_con{ font-size: 15px !important;}
.searchBar .input input::placeholder {font-size:14px !important;}
.searchArea .con .list li .keyTxt{font-size: 16px !important;}
.searchArea .con .clear{font-size: 16px !important;}
.keyword li{ font-size: 15px !important;}
.resultCount{ font-size: 16px !important;line-height: 20px !important;  }
.preViewTxt h2{ font-size: 14px !important;}
.cate li{font-size: 14px !important; }
.dashboard .pinkArea li .underline{font-size: 16px !important;text-decoration: none !important;}
.dashboard .grayArea h2{font-size: 15px !important;}
.dashboard .grayArea .div2 div{  font-size: 14px !important; }
.titNlinkPack h2{font-size: 15px !important;}
.titNlinkPack li{font-size: 14px !important;}
.titNlinkPackEven li{ font-size: 14px !important;}
.cartInfo .ment{font-size: 13px !important;}
.cartInfo2 .ment{ font-size: 14px !important;}
.btnOrderC { font-size:14px !important;}
.lstSumList li * {font-size:14px !important;}
.oneSet .btnOrderC, .twoSet .btnOrderC{font-size: 16px !important; }
.orderProWrap ul li .infoArea h5 {font-size:16px !important; line-height: 17px !important;}
.boardOrderView table tbody th {font-size:14px !important; }
.boardOrderView table tbody td {font-size:14px !important; }
.boardOrderWrite h3, .boardOrderView h3 { font-size:15px !important;}
.boardOrderWrite table tbody tr th { font-size:14px !important; }
.boardOrderWrite table tbody tr td { font-size:13px !important;}
.boardOrderWrite table tbody tr td .adrInputForm p { font-size:13px !important; }
.boardOrderWrite table tbody tr.tall p{font-size:13px !important;}
.boardOrderWrite textarea{font-size:15px !important;}
textarea::placeholder{font-size:15px !important;}
input::placeholder{font-size:14px !important;}
.boardOrderWrite table input, .boardOrderWrite table select{font-size:14px !important;}
.listBullet li {font-size:14px !important;}
.redTab li a span { font-size:16px !important;}
.orderChkList li .top * {font-size:13px !important;}
.orderChkList li .info .detail * {font-size:14px !important;}
.orderChkList li .info .detail .state {font-size:15px !important; }
.ownCoupon li p { font-size:14px !important; }
.ownCoupon li strong {font-size:15px !important;}
.ownCoupon li strong em {font-size:13px !important;}
.faqWrap > ul li a{font-size:13px !important;}
.faqTop h5{font-size:15px !important;}
.faqTop a{font-size:13px !important;}
.orderProWrap > h4{font-size:15px !important;padding: 14px 15px 12px 15px !important;border-top: none !important;}
.asignBox p{font-size:13px !important;}
.boardOrderWrite table tbody tr td .checkInputForm label{font-size:14px !important;}
.boardOrderWrite table tbody tr.tall td{/*padding: 15px 11px 15px 0 !important;*/padding: 15px 15px 15px 0;}
.boardOrderWrite .radioForm div label{margin-right:0;font-size: 12px}
.boardOrderWrite table tbody tr th{padding: 18px 0px 0 15px;}
.defaultInfo_percent{padding-top: 28px !important;}
.boardOrderView th .btnOrderC{margin:7px 0 0 0;}
.titInputStyle .dl2 dt{font-size:14px !important;}
.dl2 dt{font-size:14px !important;}
input[type=radio].radioGap + label{    margin-bottom: 3px;}
.sort .wrap1 .condition{font-size:15px !important;}
.sort .detailSrch .btnSrch {font-size:15px !important;}
.boardOrderView tr td input[type="text"],
.boardOrderView tr td input[type="num"],
.boardOrderView tr td input[type="tel"],
.boardOrderView tr td select{font-size:14px !important;}

.loginWrap .tbox_2{font-size:14px !important;    padding: 25px 10px;}
.loginWrap .tbox_3{font-size:14px !important;    padding: 25px 10px;}


@media (max-width:320px) {
	.ownCoupon li p{font-size:12px}
	.btnOrderC{font-size:12px}
	
}

/* main.css */

.recom .horizon li .tit { font-size:14px !important;}
#recentAllList ul.recentList li div.date span{font-size: 13px !important;}

/* mypage.css*/
.qusetionList01 li > strong{font-size:14px !important;}
.qusetionList01 li .hidden > p{ font-size:14px !important;}
.qusetionList01 li a .qTit{font-size: 16px !important;margin-bottom:5px}
.listTabGray li a{font-size:14px !important;}
.orderAdminList li a .bg {font-size:13px !important;}
.mySoltWrap select { font-size:14px !important;}
.mySoltWrap .btnOrderC {font-size:14px !important;}
.orderProWrap ul li .infoArea .starArea .date {font-size:14px}
.pointList01 li .point div p { font-size:16px !important;}
.pointList01 li .point div strong {font-size:16px !important;}
.myPageWrap{font-size:14px !important;}
.myPageWrap .boardOrderWrite table tbody tr td .checkList li {font-size: 13px !important;}
ol li.noDataItem p, ul li.noDataItem p { font-size:16px !important;}
.dashboard .grayArea .orderAdminList li{background-position: right bottom 5px;}
.infoWrap .boldTop{font-size: 16px;}
.infoWrap ul li{font-size: 14px;line-height: 18px;}

.pointList01 li .point div{padding-top:2px}
@media (max-width:320px) {
	.orderAdminList li a .bg {font-size: 11px !important;}
	.myPageWrap .boardOrderWrite table tbody tr td .checkList li {font-size:11px !important;}
}



/* 화면수정 */

.cart h2{border-bottom: none !important}
.boardOrderView .tallLine td{vertical-align: middle;}
.boardOrderWrite p{font-size:14px;line-height:17px !important;}